{% extends "master.html" %}

{% block title %}LRRbot API v2 documentation{% endblock %}

{% block header %}LRRbot API v2 documentation{% endblock %}

{% block content %}
<h2>Table of contents</h2>
<ul>
	<li><a href="#cardviewer_announce"><code>POST {{ url_for("api_v2.cardviewer_announce") }}</code></a></li>
	<li><a href="#get_clips"><code>GET {{ url_for("api_v2.get_clips") }}</code></a></li>
	<li><a href="#disconnect"><code>POST {{ url_for("api_v2.disconnect") }}</code></a></li>
	<li><a href="#events"><code>GET {{ url_for("api_v2.events") }}</code></a></li>
	<li><a href="#set_show"><code>PUT {{ url_for("api_v2.set_show") }}</code></a></li>
	<li><a href="#stormcount"><code>GET {{ url_for("api_v2.stormcount") }}</code></a></li>
	<li><a href="#stormcount_all"><code>GET {{ url_for("api_v2.stormcount_all") }}</code></a></li>
	<li><a href="#get_tweet"><code>GET {{ url_for("api_v2.get_tweet") }}</code></a></li>
</ul>

<h2 id="cardviewer_announce"><code>POST {{ url_for("api_v2.cardviewer_announce") }}</code></h2>
<p>
	Announce an MTG card in chat. If multiple modes would match the query the first one is used. For example
	the query <code>{"multiverseid": 1, "name": "Lighning Bolt"}</code> would announce the card Ankh of Mishra.
</p>
<h3>By card code</h3>
<dl>
	<dt><code>code</code> or <code>multiverseid</code></dt>
	<dd>For MTG: the ID of the card on Gatherer.</dd>
	<dd>For Altered: the card reference code.</dd>
</dl>
<h4>Example</h4>
<pre>{"multiverseid": 435173}</pre>
<pre>{"code": "435173", "game": "mtg"}</pre>
<pre>{"code": "ALT_CORE_B_BR_21_C", "game": "altered"}</pre>
<h3>By name</h3>
<dl>
	<dt><code>name</code></dt>
	<dd>Name of the card. It doesn't need to be exact. In general if it works with <code>!card</code> it will work with this.</dd>
</dl>
<h4>Examples</h4>
<pre>{"name": "Strip Mine"}</pre>
<pre>{"name": "Adanto, the First Fort"}</pre>
<h3>Host and augment</h3>
<dl>
	<dt><code>host</code></dt>
	<dd>The name of the host creature.</dd>
	<dt><code>augment</code></dt>
	<dd>The name of the augment creature.</dd>
</dl>
<h4>Example</h4>
<pre>{"augment": "Half-Kitten, Half-", "host": "Adorable Kitten"}</pre>

<h3>Game selection</h3>
<p>
	Different card games can be selected by the <code>game</code> parameter.
	If not present, it defaults to Magic: The Gathering. It must be provided to
	select cards from other games.
</p>
<p>
	Some selection methods (eg: multiverse ID) may not apply for certain games.
</p>
<p>Available game codes:</p>
<dl>
	<dt><code>mtg</code></dt><dd>Magic: The Gathering</dd>
	<dt><code>keyforge</code></dt><dd>KeyForge</dd>
	<dt><code>ptcg</code></dt><dd>Pokémon Trading Card Game</dd>
	<dt><code>lorcana</code></dt><dd>Disney Lorcana Trading Card Game</dd>
	<dt><code>altered</code></dt><dd>Altered</dd>
</dl>
<h4>Examples</h4>
<pre>{"name": "<a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=446183">Vigor</a>", "game": "mtg"}</pre>
<pre>{"name": "<a href="https://keyforge-compendium.com/cards/338-vigor">Vigor</a>", "game": "keyforge"}</pre>

<h3>Response</h3>
On success it will respond with the name and the text of the card.
<pre>{
  "name": "Llanowar Elves",
  "text": "Llanowar Elves [G] | Creature — Elf Druid [1/1] | {T}: Add {G} to your mana pool."
}</pre>

<h2 id="get_clips"><code>GET {{ url_for("api_v2.get_clips") }}</code></h2>
<p>Get the list of clips. The user must me a moderator.</p>

<h3>Query parameters</h3>
<dl>
	<dt><code>days</code></dt>
	<dd>Return clips that are up to <code>days</code> days old. The default is 14.</dd>
	<dt><code>full</code></dt>
	<dd>If zero (the default) then return all accepted clips as URLs one per line.</dd>
	<dd>If non-zero then return all clips as JSON.</dd>
	<dd>
		<dl>
			<dt><code>rating</code></dt>
			<dd><code>true</code> if the clip was accepted, <code>false</code> if it wasn't.</dd>
			<dt><code>slug</code></dt>
			<dd>The URL slug of the clip.</dd>
			<dt><code>title</code></dt>
			<dd>The title of the clip.</dd>
			<dt><code>url</code></dt>
			<dd>The URL of the clip.</dd>
			<dt><code>vodid</code></dt>
			<dd>The ID of the video the clip is taken from.</dd>
		</dl>
	</dd>
</dl>

<h3>Example response</h3>
<h4><code>full=0</code></h4>
<pre>https://clips.twitch.tv/TolerantDirtyFishKreygasm
https://clips.twitch.tv/WrongUnusualSparrowOhMyDog
https://clips.twitch.tv/DeadEnergeticWeaselBCWarrior</pre>

<h4><code>full=1</code></h4>
<pre>[
  {
    "rating": false, 
    "slug": "VibrantPiercingRuffMrDestructoid", 
    "title": "the Steam dalay", 
    "url": "https://clips.twitch.tv/VibrantPiercingRuffMrDestructoid", 
    "vodid": "238399552"
  }
]</pre>

<h2 id="disconnect"><code>POST {{ url_for("api_v2.disconnect") }}</code></h2>
<p>Disconnects the bot from Twitch. Returns nothing. The user must be a moderator.</p>

<h2 id="events"><code>GET {{ url_for("api_v2.events") }}</code></h2>
<p>Get all events after a certain event. This endpoint uses content negotiation to determine how it behaves.</p>

<h3>Filter parameters</h3>
<p>If no filter parameters are set only new events will be returned.</p>

<dl>
	<dt><code>last-event-id</code></dt>
	<dd>Only include events after this one. Can also be set as the <code>Last-Event-ID</code> header. If both are present the header is used.</dd>
	<dt><code>interval</code></dt>
	<dd>Only include events that happened up to <code>interval</code> ago.
		The syntax is whatever <a href="https://www.postgresql.org/docs/10/static/datatype-datetime.html#DATATYPE-INTERVAL-INPUT">PostgreSQL accepts.</a></dd>
</dl>

<h3>Events</h3>
<h4>Common fields</h4>
<dl>
	<dt><code>count</code></dt>
	<dl>The value of the corresponding stormcount. In general how many events of the same type as this event have occurred today. Is not present on all event types.</dl>
	<dt><code>time</code></dt>
	<dt>Timestamp of the event in the ISO 8601 format.</dt>
</dl>

<h4><code>patreon-pledge</code></h4>
<p>New patron on Patreon.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name used in the announcement. Twitch name if it's known, Patreon name otherwise.</dd>
	<dt><code>patreon</code></dt>
	<dd>Patreon specific information</dd>
	<dd>
		<dl>
			<dt><code>full_name</code></dt>
			<dd>Patron full name</dd>
			<dt><code>avatar</code></dt>
			<dd>Avatar. Might be missing or <code>null</code>.</dd>
			<dt><code>url</code></dt>
			<dd>Patron's Patreon page</dd>
		</dl>	
	</dd>
	<dt><code>twitch</code></dt>
	<dd>Twitch specific information. Might be not present or <code>null</code>.</dd>
	<dd>
		<dl>
			<dt><code>name</code></dt>
			<dd>Patron's Twitch name.</dd>
		</dl>
	</dd>
</dl>
<h5>Example payload</h5>
<pre>{
  "name": "qrpth",
  "twitch": {
    "name": "qrpth"
  },
  "patreon": {
    "avatar": "//s3-us-west-1.amazonaws.com/patreon.user/wyI1P8QgKYucgLGoHwDqE2ezldUBSDHk5eAxNRzYr7psZarMizNwlEhCPDM41gIa_large_2.jpeg",
    "full_name": "qrpth",
    "url": "https://www.patreon.com/qrpth"
  },
  "time": "2016-06-20T21:17:09.890668+02:00",
  "count": 1
}</pre>

<h4><code>strawpoll-add</code></h4>
<p>
	New poll was added with <kbd>!poll</kbd> or <kbd>!nowkiss</kbd>. The payload is the same as returned by
	<a href="https://strawpoll.me/">strawpoll.me's</a> <a href="https://github.com/strawpoll/strawpoll/wiki/API">API</a>.
	The only difference is the <code>tag</code> key which if present and equal to <code>"nowkiss"</code> means that the
	poll was created with <kbd>!nowkiss</kbd>.
</p>
<h5>Example payload</h5>
<pre>{
  "id": 15346267,
  "title": "Keep playing Hustle Cat? [2018-03-23]",
  "time": "2018-03-23T20:03:36.540677+01:00",
  "options": [
    "Swipe Right (keep playing next week)",
    "Swipe Left (new game!)"
  ],
  "captcha": false,
  "dupcheck": "normal",
  "votes": [
    0,
    0
  ],
  "multi": false,
  "tag": "nowkiss"
}</pre>

<h4><code>strawpoll-complete</code></h4>
<p>
	A poll has completed and the results have been announced in chat. The payload is the same as returned by
	<a href="https://strawpoll.me/">strawpoll.me's</a> <a href="https://github.com/strawpoll/strawpoll/wiki/API">API</a>.
	The only difference is the <code>tag</code> key which if present and equal to <code>"nowkiss"</code> means that the
	poll was created with <kbd>!nowkiss</kbd>.
</p>
<h5>Example payload</h5>
<pre>{
  "id": 15346267,
  "title": "Keep playing Hustle Cat? [2018-03-23]",
  "time": "2018-03-23T20:08:41.598222+01:00",
  "options": [
    "Swipe Right (keep playing next week)",
    "Swipe Left (new game!)"
  ],
  "captcha": false,
  "dupcheck": "normal",
  "votes": [
    90,
    5
  ],
  "multi": false,
  "tag": "nowkiss"
}</pre>

<h4><code>stream-down</code></h4>
<p>The stream has stopped.</p>
<h5>Example payload</h5>
<pre>{
  "time": "2018-03-27T01:59:55.636950+02:00"
}</pre>

<h4><code>stream-up</code></h4>
<p>The stream has started.</p>
<h5>Example payload</h5>
<pre>{
  "time": "2018-03-27T01:59:55.636950+02:00"
}</pre>

<h4><code>twitch-cheer</code></h4>
<p></p>
<dl>
	<dt><code>bits</code></dt>
	<dd>The number of bits cheered.</dd>

	<dt><code>level</code></dt>
	<dd><code>"red"</code> for 10000+ bits, <code>"blue"</code> for 5000-9999, <code>"green"</code> for 1000-4999, <code>"purple"</code> for 100-999, <code>"gray"</code> for 1-99</dd>

	<dt><code>message</code></dt>
	<dd>The plaintext message.</dd>

	<dt><code>messagehtml</code></dt>
	<dd>The message as HTML.</dd>

	<dt><code>name</code></dt>
	<dd>The name of the cheerer.</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "bits": 500,
  "time": "2018-03-29T05:56:42.567491+02:00",
  "messagehtml": "&lt;span class=\"cheer\" style=\"color: #9c3ee8\">&lt;img src=\"https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/100/1.png\" alt=\"cheer\" title=\"Cheer 100\">100&lt;/span> &lt;span class=\"cheer\" style=\"color: #9c3ee8\">&lt;img src=\"https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/100/1.png\" alt=\"cheer\" title=\"Cheer 100\">100&lt;/span> &lt;span class=\"cheer\" style=\"color: #9c3ee8\">&lt;img src=\"https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/100/1.png\" alt=\"cheer\" title=\"Cheer 100\">100&lt;/span> &lt;span class=\"cheer\" style=\"color: #9c3ee8\">&lt;img src=\"https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/100/1.png\" alt=\"cheer\" title=\"Cheer 100\">100&lt;/span> &lt;span class=\"cheer\" style=\"color: #9c3ee8\">&lt;img src=\"https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/100/1.png\" alt=\"cheer\" title=\"Cheer 100\">100&lt/span> Great show, Great game",
  "count": 8321,
  "message": "cheer100 cheer100 cheer100 cheer100 cheer100 Great show, Great game",
  "level": "purple",
  "name": "thundervoice1"
}</pre>

<h4><code>twitch-follow</code></h4>
<p>New follower on Twitch.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "name": "qrpth",
  "time": "2016-07-21T19:54:30+02:00",
  "count": 7
}</pre>

<h4><code>twitch-message</code></h4>
<p>New message from Twitch. Sent for messages that are not of some other recognised type.</p>

<dl>
	<dt><code>message</code></dt>
	<dd>The message.</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "message": "23 viewers resubscribed while you were away!",
  "time": "2017-05-24T18:07:59.674772+02:00",
  "count": 1
}</pre>

<h4><code>twitch-resubscription</code></h4>
<p>New returning subscriber on Twitch.</p>

<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar. Might be not present or <code>null</code>.</dd>
	<dt><code>benefactor</code></dt>
	<dd>The name of the user who gifted this subscription. Might be <code>null</code> or missing.</dd>
	<dt><code>monthcount</code></dt>
	<dd>How many months this user has been subscribed.</dd>
	<dt><code>tier</code></dt>
	<dd>What subscription tier this subscriber is on. Currently known values: <code>"Prime"</code>, <code>"1000"</code>, <code>"2000"</code>, <code>"3000"</code>, for Twitch Prime, Tier 1, Tier 2, Tier 3, respectively. May be missing if unavailable (eg for gift subs).</dd>
	<dt><code>message</code></dt>
	<dd>The plaintext subscription message. Might be <code>null</code> or missing.</dd>
	<dt><code>messagehtml</code></dt>
	<dd>The subscription message as HTML. Might be <code>null</code> or missing.</dd>
	<dt><code>isMulti</code></dt>
	<dd>Whether this subscription is part of a multi-gift drop. If this is <code>true</code>, it will also be part of a <code>twitch-subscription-mysterygift</code> event, afterward.</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "benefactor": null,
  "name": "qrpth",
  "monthcount": 23,
  "time": "2018-03-16T22:18:43.166609+01:00",
  "count": 30,
  "avatar": "https://static-cdn.jtvnw.net/jtv_user_pictures/qrpth-profile_image-d43b8ad66411f7a4-300x300.png",
  "tier": "1000",
  "message": "lrrHORN lrrHORN lrrHEART",
  "messagehtml": "&lt;img src=\"https://static-cdn.jtvnw.net/emoticons/v1/44650/1.0\" alt=\"lrrHORN\" title=\"lrrHORN\"> &lt;img src=\"https://static-cdn.jtvnw.net/emoticons/v1/44650/1.0\" alt=\"lrrHORN\" title=\"lrrHORN\"> &lgt;img src=\"https://static-cdn.jtvnw.net/emoticons/v1/325892/1.0\" alt=\"lrrHEART\" title=\"lrrHEART\">",
  "isMulti": false
}</pre>

<h4><code>twitch-subscription</code></h4>
<p>New subscriber on Twitch.</p>

<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar. Might be not present or <code>null</code>.</dd>
	<dt><code>benefactor</code></dt>
	<dd>The name of the user who gifted this subscription. Might be <code>null</code> or missing.</dd>
	<dt><code>tier</code></dt>
	<dd>What subscription tier this subscriber is on. Currently known values: <code>"Prime"</code>, <code>"1000"</code>, <code>"2000"</code>, <code>"3000"</code>, for Twitch Prime, Tier 1, Tier 2, Tier 3, respectively. May be missing if unavailable (eg for gift subs).</dd>
	<dt><code>isMulti</code></dt>
	<dd>Whether this subscription is part of a multi-gift drop. If this is <code>true</code>, it will also be part of a <code>twitch-subscription-mysterygift</code> event, afterward.</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "name": "rourke9",
  "avatar": "https://static-cdn.jtvnw.net/user-default-pictures/49988c7b-57bc-4dee-bd4f-6df4ad215d3a-profile_image-300x300.jpg",
  "benefactor": "F1SHOR",
  "time": "2018-03-25T03:45:05.509759+02:00",
  "count": 12,
  "tier": "1000",
  "isMulti": false
}</pre>

<h4><code>twitch-subscription-mysterygift</code></h4>
<p>A user has gifted multiple subscriptions to the community.</p>

<dl>
	<dt><code>name</code></dt>
	<dd>Name of the user gifting the subscriptions.</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar. Might be not present or <code>null</code>.</dd>
	<dt><code>subcount</code></dt>
	<dd>Count of subscriptions gifted.</dd>
	<dt><code>subscribers</code></dt>
	<dd>Data for each subscription given. Each entry on this list will be a <code>twitch-susbscription</code> or <code>twitch-resubscription</code> payload.</dd>
</dl>

<h5>Example payload</h5>
<pre>{
    "name": "F1SHOR",
    "avatar": "https://static-cdn.jtvnw.net/jtv_user_pictures/2b9c768c-989f-4ab8-acc5-7f94f10d6a50-profile_image-300x300.png",
    "subcount": 2,
    "subscribers": [
        {
            "name": "dm818"
            "benefactor": "F1SHOR",
            "count": 1,
            "ismulti": true,
        },
        {
            "name": "aziraphalesshop"
            "benefactor": "F1SHOR",
            "monthcount": 20,
            "count": 1,
            "ismulti": true,
        }
    ]
}</pre>

<h4><code>twitch-raid</code></h4>
<p>The Twitch channel was raided by another channel.</p>

<dl>
	<dt><code>name</code></dt>
	<dd>Name of raiding channel</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar. Might be not present or <code>null</code>.</dd>
	<dt><code>count</code></dt>
	<dd>Number of raiders</dd>
</dl>

<h5>Example payload</h5>
<pre>{
  "name": "benjamin_wheeler",
  "avatar": "https://static-cdn.jtvnw.net/jtv_user_pictures/e990fed4-1d57-451e-8dbb-1b4128fec225-profile_image-70x70.png",
  "time": "2022-04-26T00:23:46.899+02:00",
  "count": 110
}</pre>

<h4><code>youtube-membership</code></h4>
<p>New member on YouTube.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
	<dt><code>channel_id</code></dt>
	<dd>Channel ID</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar.</dd>
	<dt><code>benefactor</code></dt>
	<dd>The name of the user who gifted this subscription. Might be <code>null</code> or missing.</dd>
	<dt><code>tier</code></dt>
	<dd>The name of the level at which the user is a member. Might be <code>null</code> or missing.</dd>
	<dt><code>is_upgrade</code></dt>
	<dd>Whether the member just upgraded from a lower level.</dd>
	<dt><code>ismulti</code></dt>
	<dd>Whether this subscription is part of a multi-gift drop. Might be <code>null</code> or missing.</dd>
</dl>

<h4><code>youtube-membership-gift</code></h4>
<p>A user has gifted one or more memberships. Unlike <code>twitch-subscription-mysterygift</code> it gets sent even for a single gift membership.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name of the gifter.</dd>
	<dt><code>channel_id</code></dt>
	<dd>Channel ID of the gifter.</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar of the gifter.</dd>
	<dt><code>count</code></dt>
	<dd>Number of memberships gifted.</dd>
	<dt><code>tier</code></dt>
	<dd>The name of the level of the memberships gifted.</dd>
	<dt><code>members</code></dt>
	<dd>List of all the memberships gifted as <code>youtube-membership</code> payloads.</dd>
</dl>

<h4><code>youtube-membership-milestone</code></h4>
<p>A YouTube member has sent a Membership Milestone Chat.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name.</dd>
	<dt><code>channel_id</code></dt>
	<dd>Channel ID.</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar.</dd>
	<dt><code>monthcount</code></dt>
	<dd>How many months this user has been subscribed.</dd>
	<dt><code>tier</code></dt>
	<dd>The name of the level at which the user is a member. Might be <code>null</code> or missing.</dd>
	<dt><code>message</code></dt>
	<dd>User's message as plaintext.</dd>
</dl>

<h4><code>youtube-super-chat</code></h4>
<p>A user has sent a YouTube Super Chat.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
	<dt><code>channed_id</code></dt>
	<dd>Channel ID</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar.</dd>
	<dt><code>amount</code></dt>
	<dd>Amount paid formatted as a string intended to be displayed to a user. (e.g "$1.00")</dd>
	<dt><code>amount_micros</code></dt>
	<dd>Amount paid in micros of the purchase currency. (e.g <code>1000000</code> for a 1 dollar Super Chat)</dd>
	<dt><code>amount_currency</code></dt>
	<dd><a href="https://en.wikipedia.org/wiki/ISO_4217">ISO 4217</a> code of the purchase currency.</dd>
	<dt><code>level</code></dt>
	<dd>Super Chat tier based on the money spent.</dd>
	<dt><code>message</code></dt>
	<dd>User's message as plaintext.</dd>
</dl>

<h4><code>youtube-super-sticker</code></h4>
<p>A user has sent a YouTube Super Sticker.</p>
<dl>
	<dt><code>name</code></dt>
	<dd>Name</dd>
	<dt><code>channed_id</code></dt>
	<dd>Channel ID</dd>
	<dt><code>avatar</code></dt>
	<dd>Avatar.</dd>
	<dt><code>amount</code></dt>
	<dd>Amount paid formatted as a string intended to be displayed to a user. (e.g "$1.00")</dd>
	<dt><code>amount_micros</code></dt>
	<dd>Amount paid in micros of the purchase currency. (e.g <code>1000000</code> for a 1 dollar Super Sticker)</dd>
	<dt><code>amount_currency</code></dt>
	<dd><a href="https://en.wikipedia.org/wiki/ISO_4217">ISO 4217</a> code of the purchase currency.</dd>
	<dt><code>level</code></dt>
	<dd>Super Sticker tier based on the money spent.</dd>
	<dt><code>sticker_id</code></dt>
	<dd>ID of the Super Sticker</dd>
	<dt><code>sticker_url</code></dt>
	<dd>URL of the Super Sticker image. Might be <code>null</code> or missing.</dd>
	<dt><code>alt_text</code></dt>
	<dd>Sticker's alt text.</dd>
	<dt><code>alt_text_language</code></dt>
	<dd><a href="https://en.wikipedia.org/wiki/BCP_47">BCP 47</a> tag for the language the alt text is in.</dd>
</dl>

<h3>Server-sent events mode (default)</h3>
<h4>Example request</h4>
<pre>curl -H "Accept: text/event-stream" {{ url_for("api_v2.events", _external=True) }}</pre>
<h4>Example response</h4>
<pre>id:102985
event:stream-up
data:{"time": "2018-03-27T20:59:04.621308+02:00"}

:keep-alive

...</pre>

<h3>JSON mode</h3>
<p>Will only return old events. Thus if no filter parameter is set this will return an empty list</p>
<h4>Example request</h4>
<pre>curl -H "Accept: application/json" {{ url_for("api_v2.events", _external=True) }}</pre>
<h4>Example response</h4>
<pre>{
  "events": [
    {
      "data": {
        "time": "2018-03-27T20:59:04.621308+02:00"
      },
      "id": 102985,
      "event": "stream-up"
    }
  ]
}</pre>

<h2 id="set_show"><code>PUT {{ url_for("api_v2.set_show") }}</code></h2>
<p>Set the current show. Returns the currently active show which might not be what was set. The user must be a moderator.</p>

<dl>
	<dt><code>code</code></dt>
	<dd>The show code or empty string to unset the show.</dd>
	<dd>
		<table class="nicetable">
			<thead>
				<tr><th>Code</th><th>Name</th></tr>
			</thead>
			<tbody>
				{% for key, name in shows %}
					<tr class="{{ loop.cycle('odd', 'even') }}">
						<td><code>{{ key }}</code></td>
						<td>{{ name }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</dd>
</dl>

<h3>Example request</h3>
<pre>curl -X PUT {{ url_for("api_v2.set_show", _external=True, apipass="dickbutt") }} -H "Content-Type: application/json" -d '{"code": "tinker"}'</pre>

<h3>Example response</h3>
<pre>{
  "code": "tinker", 
  "name": "Tinker, Tailor, Solder, Fry"
}</pre>

<h2 id="stormcount"><code>GET {{ url_for("api_v2.stormcount") }}</code></h2>
<p>Get today's stormcounts.</p>

<dl>
	<dt><code>patreon-pledge</code></dt>
	<dd>The number of new patrons on Patreon.</dd>

	<dt><code>twitch-cheer</code></dt>
	<dd>The total number of bits cheered.</dd>

	<dt><code>twitch-follow</code></dt>
	<dd>The number of new followers.</dd>

	<dt><code>twitch-message</code></dt>
	<dd>The number of messages from Twitch.</dd>

	<dt><code>twitch-raid</code></dt>
	<dd>The number of times the channel was raided.</dd>

	<dt><code>twitch-resubscription</code></dt>
	<dd>The number of returning subscribers.</dd>

	<dt><code>twitch-subscription</code></dt>
	<dd>The number of new subscribers.</dd>

	<dt><code>youtube-membership</code></dt>
	<dd>The number of new YouTube members.</dd>

	<dt><code>youtube-membership-milestone</code></dt>
	<dd>The number of YouTube Member Milestone Chats.</dd>

	<dt><code>youtube-super-chat</code></dt>
	<dd>The number of YouTube Super Chats.</dd>

	<dt><code>youtube-super-sticker</code></dt>
	<dd>The number of YouTube Super Stickers.</dd>
</dl>

<h3>Example response</h3>
<pre>{{ stormcount }}</pre>

<h2 id="stormcount_all"><code>GET {{ url_for("api_v2.stormcount_all") }}</code></h2>
<p>
	Get a list of daily stormcounts. The structure of the individual stormcounts is the same as for
	<a href="#stormcount"><code>GET {{ url_for("api_v2.stormcount") }}</code></a> but there's an additional
	key <code>date</code> that indicates in the ISO 8601 format what day the stormcounts are for.
</p>

<pre>[
	...,
  {
    "date": "2016-06-21", 
    "patreon-pledge": 3, 
    "twitch-cheer": 0, 
    "twitch-follow": 0, 
    "twitch-message": 0, 
    "twitch-raid": 0,
    "twitch-resubscription": 23, 
    "twitch-subscription": 8,
    "youtube-membership": 0,
    "youtube-membership-milestone": 0,
    "youtube-super-chat": 0,
    "youtube-super-sticker": 0
  }, 
  {
    "date": "2016-06-20", 
    "patreon-pledge": 1, 
    "twitch-cheer": 0, 
    "twitch-follow": 0, 
    "twitch-message": 1, 
    "twitch-raid": 0,
    "twitch-resubscription": 21, 
    "twitch-subscription": 4,
    "youtube-membership": 0,
    "youtube-membership-milestone": 0,
    "youtube-super-chat": 0,
    "youtube-super-sticker": 0
  }, 
  {
    "date": "2016-06-19", 
    "patreon-pledge": 0, 
    "twitch-cheer": 0, 
    "twitch-follow": 0, 
    "twitch-message": 0, 
    "twitch-raid": 0,
    "twitch-resubscription": 0, 
    "twitch-subscription": 16,
    "youtube-membership": 0,
    "youtube-membership-milestone": 0,
    "youtube-super-chat": 0,
    "youtube-super-sticker": 0
  }
]</pre>

<h2 id="get_tweet"><code>GET {{ url_for("api_v2.get_tweet") }}</code></h2>
<p>Get a random message to post on <a href="https://kind.social/@lrrbot">LRRbot's Mastodon account</a>.</p>
<h3>Example response</h3>
<pre>{{ tweet }}</pre>

{% endblock %}
