<!doctype html>
<html>
<head>
<title>{{video["title"]|e}}</title>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="jquery.splitter.css")|e}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="archive.css")|e}}">
<script type="text/javascript" src="{{url_for('static', filename='jquery-1.10.2.js')|e}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.splitter-0.14.0.js')|e}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='archive.js')|e}}"></script>
<script>
	window.start = {{video["start"]|tojson}};
</script>
</head>
<body>
<div id="content">
	<div><div id="video">
		<object bgcolor="#000000" data="http://www.twitch.tv/widgets/archive_embed_player.swf" type="application/x-shockwave-flash" width="100%" height="100%" id="clip_embed_player_flash">
			<param  name="movie" value="http://www.twitch.tv/widgets/archive_embed_player.swf" />
			<param  name="allowScriptAccess" value="always" />
			<param  name="allowNetworking" value="all" />
			<param  name="allowFullScreen" value="true" />
			<param  name="flashvars" value="channel={{video['channel']|e}}&amp;auto_play=true&amp;videoId={{video['id']|e}}{%if starttime%}&amp;initial_time={{starttime|e}}{%endif%}" />
		</object>
	</div></div>
	<div><div id="chat">
	{%for line in chat%}
		{{line|safe}}
	{%endfor%}
	</div></div>
</div>
</body>
</html>
