<!doctype html>
<html>
<head>
<title>{{video["title"]|e}}</title>
<link rel="stylesheet" type="text/css" href="{{static_url("jquery.splitter.css")|e}}">
<link rel="stylesheet" type="text/css" href="{{static_url("archive.css")|e}}">
<script type="text/javascript" src="{{static_url('jquery-1.10.2.js')|e}}"></script>
<script type="text/javascript" src="{{static_url('jquery.splitter-0.14.0.js')|e}}"></script>
<script type="text/javascript" src="https://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript" src="{{static_url('archive.js')|e}}"></script>
<script>
	window.start = {{vidstart.timestamp()|tojson}};
	window.initial_time = {%if starttime%}{{starttime|tojson}}{%else%}0{%endif%};
	window.video = {{video['id']|tojson}};
	window.twentyfour = {{session['user']['chat_timestamps_24hr']|tojson}};
	window.seconds = {{session['user']['chat_timestamps_secs']|tojson}};
</script>
</head>
<body>
<div id="content">
	<div><div id="video"></div></div>
	<div><div id="chat">
	{%for line in chat%}
		{{line|safe}}
	{%endfor%}
	<div id="chatbottom"></div>
	<div id="resetscroll" style="display: none">Reset scrolling</div>
	</div></div>
</div>
</body>
</html>
