<img src="{{vid['preview']|https|e}}" style="float:left; margin: 0 0.5em 0.25em 0">
<p style="font: bold 125% sans-serif"><a href="{{url_for("archive_watch", videoid=vid['_id'])|e}}">{{vid['title']|e}}</a></p>
<p style="font: 100% sans-serif">Recorded at: {{vid['recorded_at']|timestamp}}</p>
{%if vid['description']%}<p style="font: 100% sans-serif">{{vid['description']|e}}</p>{%endif%}
{%if vid['game']%}<p style="font: 100% sans-serif">Playing: {{vid['game']|e}}</p>{%endif%}
<p style="font: 100% sans-serif">Length: {{vid['length']|nice_duration(0)}}</p>
