{%extends "master.html"%}
{%block title%}Clips VOD list{%endblock%}
{%block header%}Clips VOD list{%endblock%}
{%block content%}
<table class="nicetable clips">
{%for video in videos%}
<tr class="{{loop.cycle('even','odd')}} {%if video['clips'][None]>0%}incomplete{%else%}complete{%endif%}">
	<td class="thumbnail">
		<a href="{{url_for("clips_vid", videoid=video['_id'])|e}}"><img src="{{video['preview']|e}}" alt=""></a>
	</td>
	<td class="main">
		<a href="{{url_for("clips_vid", videoid=video['_id'])|e}}">{{video['title']|e}}</a>
	</td>
	<td class="stat unrated">
		<span class="thumbicon"></span>{{video['clips'][None]}}
	</td>
	<td class="stat unapproved">
		<span class="thumbicon"></span>{{video['clips'][False]}}
	</td>
	<td class="stat approved">
		<span class="thumbicon"></span>{{video['clips'][True]}}
	</td>
</tr>
{%endfor%}
</table>
{%endblock%}
