{%extends "master.html"%}
{%block title%}Clips VOD list{%endblock%}
{%block header%}Clips VOD list{%endblock%}
{%block content%}
<p><a href="{{url_for("clips.external")|e}}">Manage external videos</a></p>
<table class="nicetable clips">
{%for video in videos%}
<tr class="{{loop.cycle('even','odd')}} {%if video['clips'][None]>0%}incomplete{%else%}complete{%endif%}">
	<td class="thumbnail">
		<a href="{{url_for("clips.vid", videoid=video['id'])|e}}">
			<img src="{{video['thumbnail_url']|replace('%{width}', '80')|replace('%{height}', '45')|https|e}}" alt="">
		</a>
	</td>
	<td class="main">
		{{ video['created_at'] | timestamp('timestamp-duration') }}
		<a href="{{url_for("clips.vid", videoid=video['id'])|e}}">{{video['title']|e}}</a>
		{% if video['user_login'] != main_channel %}
			<span class="external_channel">[{{video['user_name']|e}}]</span>
		{% endif %}
	</td>
	<td class="stat unrated">
		<span class="thumbicon"></span>{{video['clips'][None]}}
	</td>
	<td class="stat unapproved">
		<span class="thumbicon"></span>{{video['clips'][False]}}
	</td>
	<td class="stat approved">
		<span class="thumbicon"></span>{{video['clips'][True]}}
	</td>
</tr>
{%endfor%}
</table>
{%endblock%}
