{%extends "master.html"%}
{%block title%}{{video['title']|e}} &ndash; Clips{%endblock%}
{%block header%}Clips &ndash; {{video['title']|e}}{%endblock%}
{%block headextra%}
<script type="text/javascript">window.csrf_token = {{csrf_token()|tojson}}</script>
<script type="text/javascript" src="{{static_url('clips.js')|e}}"></script>
{%endblock%}
{%block content%}
<table class="nicetable clips votes">
{%set rowclasses = cycler('even', 'odd')%}
{%for clip in clips%}
	{%if clip['overlap']%}
		{%set rowclass = rowclasses.last + " lastoverlap"%}
	{%else%}
		{%set rowclass = rowclasses.next()%}
	{%endif%}
	{%if not loop.last and clips[loop.index0 + 1]['overlap']%}
		{%set rowclass = rowclass + " nextoverlap"%}
	{%endif%}
<tr class="{{rowclass}} {%if clip['rating'] == None%}incomplete{%else%}complete{%endif%}" data-slug="{{clip['slug']|e}}" data-currentrating="{{clip['rating']|tojson}}"
    data-embed="&lt;iframe src=&quot;https://clips.twitch.tv/embed?clip={{clip['slug']|urlencode|e|forceescape}}&amp;autoplay=true&amp;parent={{parent|urlencode|e|forceescape}}&quot; width=&quot;640&quot; height=&quot;360&quot; frameborder=&quot;0&quot; scrolling=&quot;no&quot; allowfullscreen=&quot;true&quot;&gt;&lt;/iframe&gt;">
	<td class="thumbnail"><img src="{{clip['thumbnail']|e}}"></td>
	<td class="main">
		<div class="title">{{clip['title']|e}}</div>
		<div class="details"><span class="curator">{{clip['curator']|e}}</span> &bull; <span class="game">{{clip['game']|e}}</span></div>
		<div class="timing">Start: <span class="start">{{clip['start']}}</span> &bull; Length: <span class="duration">{{clip['duration']|e}}</span></div>
	</td>
	<td class="rating">
		<div class="votes">
			<div class="vote down {%if clip['rating'] == False%}active{%else%}inactive{%endif%}"></div>
			<div class="vote up {%if clip['rating'] == True%}active{%else%}inactive{%endif%}"></div>
		</div>
		<div class="loading" style="display: none"></div>
	</td>
</tr>
{%endfor%}
<tr id="preview" style="display: none"><td colspan="3"></td></tr>
</table>
{%endblock%}
