{%extends "master.html"%}
{%block title%}Responses{%endblock%}
{%block header%}Responses{%endblock%}
{%block headextra%}
<script type="text/javascript">window.csrf_token = {{csrf_token()|tojson}}</script>
<script type="text/javascript">
$(function() {
	$("input.del").click(function() {
		var command = $(this).closest("tr").data("command");
		return confirm(`Really delete !${command}?`);
	});
});
</script>
{%endblock%}
{%block content%}
<table class="nicetable commands">
<thead>
<tr>
	<th class="command">Command</th>
	<th class="response">Response</th>
	<th class="access">Access</th>
	<th class="button">
		<a href="{{url_for('commands.new')|e}}" class="add ui-button ui-widget ui-corner-all">Add</a>
	</th>
</tr>
</thead>
<tbody>
{%for command in commands%}
<tr class="{{loop.cycle('odd', 'even')}}" data-command="{{command['aliases'][0]|e}}" id="{{command['command_id']}}">
	<td class="command">
		<ul>
			{%for c in command["aliases"]%}
				<li>!{{c|e}}</li>
			{%endfor%}
		</ul>
	</td>
	<td class="response">
		<ul>
			{%for r in command["responses"]%}
				<li>{{r|e}}</li>
			{%endfor%}
			{%if command["response_more"]%}
				<li class="more">&hellip; {{command["response_count"]}} total</li>
			{%endif%}
		</ul>
	</td>
	<td class="access">
		{%if command["access"] == 0%}Anyone{%endif%}
		{%if command["access"] == 1%}Subscribers{%endif%}
		{%if command["access"] == 2%}Moderators{%endif%}
	</td>
	<td class="button">
		<a href="{{url_for('commands.edit', command_id=command['command_id'])|e}}" class="edit ui-button ui-widget ui-corner-all">Edit</a>
		<form action="{{url_for('commands.delete')|e}}" method="post">
			<input type="hidden" name="_csrf_token" value="{{csrf_token()|e}}">
			<input type="hidden" name="command_id" value="{{command['command_id']|e}}">
			<input type="submit" class="del ui-button ui-widget ui-corner-all" value="Del">
		</form>
	</td>
</tr>
{%endfor%}
</tbody>
</table>
{%endblock%}
