{%extends "master.html"%}
{%block title%}Instructions{%endblock%}
{%block header%}Instructions{%endblock%}
{%block headextra%}
<script type="text/javascript">
function modonly()
{
	var show = document.getElementById("showmodonly").checked;
	if (show)
		$(".modonly").show();
	else
		$(".modonly").hide();
}
$(modonly);
</script>
{%endblock%}
{%block content%}
<h2>Commands</h2>
<p><label><input type="checkbox" id="showmodonly" onclick="modonly()" {% if session['active_account']['is_mod'] %}checked{% endif %}> Show mod-only commands</label></p>
{%for section in sections%}
{%if commands[section]%}
<h3 id="help-section-{{section}}"{%if commands[section] and commands[section]['mod-only']%} class="modonly"{%endif%}>{{sections[section]|e}}</h3>
{%endif%}
{%if commands[section]%}
<dl{%if commands[section]['mod-only']%} class="modonly"{%endif%}>
{% for command in commands[section]['list'] %}
    <dt{% if command["mod-only"] %} class="modonly"{% elif command["sub-only"] %} class="subonly"{% endif %}>{{ command["aliases"] | safe }}
    {% if command["throttled"] != None %}<span class="label timeout" title="This command can be used at most {{ command["throttled"][0] }} time{%if command["throttled"][0] != 1%}s{%endif%} every {{ command["throttled"][1] }} second{%if command["throttled"][1] != 1%}s{%endif%}">
    	&#x231B; {%if command["throttled"][0] > 1%}{{ command["throttled"][0] }}/{%endif%}{{ command["throttled"][1] }}
   	</span>{% endif %}
    {% if command["public-only"] %}<span class="label publiconly" title="This command cannot be used via whispers (private messaging)">Public only</span>{% endif %}
    {% if command["sub-only"] %}<span class="label subonly" title="This command can only be used by subscribers to the channel">Sub only</span>{% endif %}
    {% if command["mod-only"] %}<span class="label modonly" title="This command can only be used by moderators of the channel">Mod only</span>{% endif %}
  	</dt>
    {% for paragraph in command["description"] %}
    <dd{% if command["mod-only"] %} class="modonly"{% elif command["sub-only"] %} class="subonly"{% endif %}>{% if command["literal-response"] %}<code>{% endif %}{{ paragraph | urlize }}{% if command["literal-response"] %}</code>{% endif %}</dd>
    {% endfor %}
{% endfor %}
</dl>
{%endif%}
{%endfor%}
{%endblock%}
