{%extends "master.html"%}
{%block title%}Instructions{%endblock%}
{%block header%}Instructions{%endblock%}
{%block headextra%}
<script type="text/javascript">
function modonly()
{
	var show = document.getElementById("showmodonly").checked;
	if (show)
		$(".modonly").show();
	else
		$(".modonly").hide();
}
$(modonly);
</script>
{%endblock%}
{%block content%}
<h2>Commands</h2>
<p><label><input type="checkbox" id="showmodonly" onclick="modonly()" {% if session['header']['is_mod'] %}checked{% endif %}> Show mod-only commands</label></p>
{%for section in sections%}
{%if commands[section] or section == "stats"%}
<h3{%if commands[section] and commands[section]['mod-only']%} class="modonly"{%endif%}>{{sections[section]|e}}</h3>
{%endif%}
{%if commands[section]%}
<dl{%if commands[section]['mod-only']%} class="modonly"{%endif%}>
{% for command in commands[section]['list'] %}
    <dt{% if command["mod-only"] %} class="modonly"{% elif command["sub-only"] %} class="subonly"{% endif %}>{{ command["aliases"] | safe }}
    {% if command["throttled"] != None %}<span class="label timeout" title="This command can be used at most {{ command["throttled"][0] }} time{%if command["throttled"][0] != 1%}s{%endif%} every {{ command["throttled"][1] }} second{%if command["throttled"][1] != 1%}s{%endif%}">
    	&#x231B; {%if command["throttled"][0] > 1%}{{ command["throttled"][0] }}/{%endif%}{{ command["throttled"][1] }}
   	</span>{% endif %}
    {% if command["public-only"] %}<span class="label publiconly" title="This command cannot be used via whispers (private messaging)">Public only</span>{% endif %}
    {% if command["sub-only"] %}<span class="label subonly" title="This command can only be used by subscribers to the channel">Sub only</span>{% endif %}
    {% if command["mod-only"] %}<span class="label modonly" title="This command can only be used by moderators of the channel">Mod only</span>{% endif %}
  	</dt>
    {% for paragraph in command["description"] %}
    <dd{% if command["mod-only"] %} class="modonly"{% elif command["sub-only"] %} class="subonly"{% endif %}>{% if command["literal-response"] %}<code>{% endif %}{{ paragraph | urlize }}{% if command["literal-response"] %}</code>{% endif %}</dd>
    {% endfor %}
{% endfor %}
</dl>
{%endif%}
{%if section == "stats"%}
<p>The system can track several stats for each game. The stats available are:</p>
<ul>
	<li><code>death</code> &ndash; the streamer dies ingame</li>
	<li><code>diamond</code> &ndash; mostly for Minecraft, any time the streamer finds something extremely rare</li>
	<li><code>flunge</code> &ndash; mostly for Magic: the Gathering, whenever a reckless attack is made without thinking through the consequences</li>
	<li><code>pardonfuck</code> &ndash; something bizzare happens in the game</li>
	<li><code>tilt</code> &ndash; when the host gets upset/angry at the game, especially to the point of nearly giving up on the game</li>
	<li><code>scream</code> &ndash; when the host reacts loudly to a horror game</li>
	<li><code>russell</code> &ndash; the atomsphere of a game is heigtened by the apparance of crows</li>
	<li><code>pave</code> &ndash; the streamer purges old mistakes and starts anew</li>
	<li><code>busstop</code> &ndash; you can't prove it won't happen</li>
</ul>
<dl>
    <dt><code>!</code><i>stat</i><span class="label timeout" title="This command can be used at most 1 time every 30 seconds">&#x231B; 30</span><span class="label publiconly" title="This command cannot be used via whispers (private messaging)">Public only</span></dt>
	<dd>eg: <code>!death</code></dd>
	<dd>Adds 1 to the stat counter for the current game</dd>
    <dt class="modonly"><code>!</code><i>stat</i><code> add </code><i>#</i><span class="label modonly" title="This command can only be used by moderators of the channel">Mod only</span></dt>
	<dd class="modonly">eg: <code>!diamond add 3</code></dd>
	<dd class="modonly">Adds # to counter for the current game</dd>
    <dt class="modonly"><code>!</code><i>stat</i><code> remove </code><i>#</i><span class="label modonly" title="This command can only be used by moderators of the channel">Mod only</span></dt>
	<dd class="modonly">eg: <code>!flunge remove</code></dd>
	<dd class="modonly">Removes # (default 1) from counter for the current game</dd>
	<dt class="modonly"><code>!</code><i>stat</i><code> set </code><i>#</i><span class="label modonly" title="This command can only be used by moderators of the channel">Mod only</span></dt>
	<dd class="modonly">eg: <code>!busstop set 0</code></dd>
	<dd class="modonly">Resets the counter to the specified number for the current game</dd>
	<dt><code>!</code><i>stat</i><code>Count</code><span class="label timeout" title="This command can be used at most 1 time every 15 seconds">&#x231B; 15</span></dt>
	<dd>eg: <code>!deathcount</code></dd>
	<dd>Post total count for the current game</dd>
    <dt><code>!total</code><i>stat</i><code></code><span class="label timeout" title="This command can be used at most 1 time every 15 seconds">&#x231B; 15</span></dt>
	<dd>eg: <code>!totaldeath</code></dd>
	<dd>Post total count for every game</dd>
</dl>
{%endif%}
{%endfor%}
{%endblock%}
