{%extends "master.html"%}
{%block title%}History{%endblock%}
{%block header%}Audit History{%endblock%}
{%block content%}
<form action="{{url_for('history.history')|e}}" method="get" id="pageform">
	<select name="page" onchange="document.getElementById('pageform').submit()">
		<option value="all" {%if page == "all"%}selected{%endif%}>All</option>
		<option value="responses" {%if page == "responses"%}selected{%endif%}>Commands</option>
		<option value="explanations" {%if page == "explanations"%}selected{%endif%}>Explanations</option>
		<option value="spam" {%if page == "spam"%}selected{%endif%}>Spam rules</option>
		<option value="link_spam" {%if page == "link_spam"%}selected{%endif%}>Spam link rules</option>
	</select>
</form>
<ol class="historylist">
	{%for row in data%}
		<li>
			{%if row['lastkey']%}(<a href="{{url_for('history.diff', fromkey=row['lastkey'], tokey=row['key'])|e}}">diff</a>){%endif%}
			<a href="{{url_for('history.show', historykey=row['key'])|e}}">{{row['time']|timestamp}}</a>
			{%if page == "all"%} &ndash; {{row['section']|e}} {%endif%}
			&ndash; {{ username(row['provider'], row['user']) }} ({{"%+d"|format(row['lengthdiff'])|e}})
		</li>
	{%endfor%}
</ol>
{%endblock%}
