{%extends "master.html"%}
{%block title%}Instructions{%endblock%}
{%block header%}Instructions{%endblock%}
{%block headextra%}
<script type="text/javascript">
function modonly()
{
	var show = document.getElementById("showmodonly").checked;
	setmodonly(document.body, show ? "" : "none");
}
function setmodonly(node, display)
{
	if (node.className == "modonly")
		node.style.display = display;
	for(i in node.childNodes)
		setmodonly(node.childNodes[i], display);
}
window.onload = modonly;
</script>
{%endblock%}
{%block content%}
<p>Bot made for the <a href="http://www.twitch.tv/loadingreadyrun">LoadingReadyLive twitch channel</a>.</p>
<p class="author">by <a href="http://twitter.com/d3fr0st">defrost aka d3fr0st5</a>, <a href="http://twitter.com/mrphlip">phlip</a> and <a href="http://twitter.com/qrpth">qrpth</a></p>
<h2>Commands</h2>
<p><label><input type="checkbox" id="showmodonly" onclick="modonly()"> Show mod-only commands</label></p>
<h3>Information</h3>
<dl>
{% for command in commands %}
    <dt{% if command["mod-only"] %} class="modonly"{% endif %}>{{ command["aliases"] | safe }}
    {% if command["throttled"] != None %}<span class="label timeout">&#x231B; {{ command["throttled"] }}</span>{% endif %}
    {% if command["mod-only"] %}<span class="label modonly">Mod only</span>{% endif %}
    {% for paragraph in command["description"] %}
    <dd{% if command["mod-only"] %} class="modonly"{% endif %}>{{ paragraph | urlize }}</dd>
    {% endfor %}
{% endfor %}
</dl>
<h3>Stats tracking</h3>
<p>The system can track several stats for each game. The stats available are:</p>
<ul>
	<li><code>death</code> &ndash; self-explanatory</li>
	<li><code>diamond</code> &ndash; mostly for Minecraft</li>
	<li><code>flunge</code> &ndash; mostly for Magic: the Gathering, whenever a strong offensive maneuver is made without thinking through the consequences</li>
	<li><code>pardonfuck</code> &ndash; for when a game is ridiculously cheap and/or buggy</li>
	<li><code>tilt</code> &ndash; when the host gets... upset... about a game</li>
	<li><code>scream</code> &ndash; when the host reacts loudly to a horror game</li>
	<li><code>busstop</code> &ndash; you can't prove it won't happen</li>
</ul>
<dl>
    <dt><code>!</code><i>stat</i><span class="label timeout">&#x231B; 30</span></dt>
	<dd>eg: <code>!death</code></dd>
	<dd>Adds 1 to the stat counter for the current game</dd>
    <dt class="modonly"><code>!</code><i>stat</i><code> add </code><i>#</i><span class="label modonly">Mod only</span></dt>
	<dd class="modonly">eg: <code>!diamond add 3</code></dd>
	<dd class="modonly">Adds # to counter for the current game</dd>
    <dt class="modonly"><code>!</code><i>stat</i><code> remove </code><i>#</i><span class="label modonly">Mod only</span></dt>
	<dd class="modonly">eg: <code>!flunge remove</code></dd>
	<dd class="modonly">Removes # (default 1) from counter for the current game</dd>
	<dt class="modonly"><code>!</code><i>stat</i><code> set </code><i>#</i><span class="label modonly">Mod only</span></dt>
	<dd class="modonly">eg: <code>!busstop set 0</code></dd>
	<dd class="modonly">Resets the counter to the specified number for the current game</dd>
	<dt><code>!</code><i>stat</i><code>Count</code><span class="label timeout">&#x231B; 15</span></dt>
	<dd>eg: <code>!deathcount</code></dd>
	<dd>Post total count for the current game</dd>
    <dt><code>!total</code><i>stat</i><code></code><span class="label timeout">&#x231B; 15</span></dt>
	<dd>eg: <code>!totaldeath</code></dd>
	<dd>Post total count for every game</dd>
</dl>
{%endblock%}
