{%extends "master.html"%}
{%block title%}Instructions{%endblock%}
{%block header%}Instructions{%endblock%}
{%block headextra%}
<script type="text/javascript">
function modonly()
{
	var show = document.getElementById("showmodonly").checked;
	setmodonly(document.body, show ? "" : "none");
}
function setmodonly(node, display)
{
	if (node.className == "modonly")
		node.style.display = display;
	for(i in node.childNodes)
		setmodonly(node.childNodes[i], display);
}
window.onload = modonly;
</script>
{%endblock%}
{%block content%}
<p>Bot made for the <a href="http://www.twitch.tv/loadingreadyrun">LoadingReadyLive twitch channel</a>.</p>
<p class="author">by <a href="http://twitter.com/d3fr0st">defrost aka d3fr0st5</a>, <a href="http://twitter.com/mrphlip">phlip</a> and <a href="http://twitter.com/qrpth">qrpth</a></p>
<h2>Commands</h2>
<p><label><input type="checkbox" id="showmodonly" onclick="modonly()"> Show mod-only commands</label></p>
<h3>Information</h3>
<dl>
	<dt><code>!commands</code> or <code>!help</code></dt>
	<dd>Post a link to the command list</dd>
	<dt><code>!link</code></dt>
	<dd>Post a link to <a href="http://loadingreadyrun.com/">loadingreadyrun.com</a></dd>
	<dt><code>!XCAM</code></dt>
	<dd>Post a link to Cam's <a href="http://bit.ly/CamXCOM">subs' soldiers spreadsheet</a></dd>
	<dt><code>!drink</code></dt>
	<dd>Post a link to the <a href="http://bit.ly/YRRLRLager">drinking game rules</a></dd>
	<dt><code>!game</code></dt>
	<dd>Post the game currently being played</dd>
	<dt class="modonly"><code>!game override </code><i>name</i></dt>
	<dd class="modonly">eg: <code>!game override Prayer Warriors: A.O.F.G.</code></dd>
	<dd class="modonly">(mod only) Override what game is being played (eg when the current game isn't in the Twitch database)</dd>
	<dt class="modonly"><code>!game override off</code></dt>
	<dd class="modonly">(mod only) Disable override, go back to getting current game from Twitch stream settings. Should the crew start regularly playing a game called "off", I'm sure we'll figure something out.</dd>
	<dt class="modonly"><code>!game display </code><i>name</i></dt>
	<dd class="modonly">eg: <code>!game display Resident Evil: Man Fellating Giraffe</code></dd>
	<dd class="modonly">(mod only) Change the display name of the current game to <i>name</i>.</dd>
	<dt class="modonly"><code>!game refresh</code></dt>
	<dd class="modonly">(mod only) Force a refresh of the current Twitch game (normally this is updated at most once every 15 minutes)</dd>
	<dt class="modonly"><code>!game completed</code></dt>
	<dd class="modonly">(mod only) Mark a game as having been completed</dd>
	<dt><code>!game good</code> / <code>!game bad</code></dt>
	<dd>Declare whether you believe this is a good game or a bad one. Voting a second time replaces your existing vote. The host may heed this or ignore it at their choice. Probably ignore it.</dd>
	<dt><code>!next</code></dt>
	<dd>Gets the next scheduled stream from the <a href="https://www.google.com/calendar/embed?src=loadingreadyrun.com_72jmf1fn564cbbr84l048pv1go@group.calendar.google.com&amp;ctz=America/Vancouver">calendar</a></dd>
	<dt><code>!stats</code></dt>
	<dd>Update the data on the <a href="stats">statistics page</a></dd>
	<dt><code>!storm</code></dt>
	<dd>Show the current storm count (the number of viewers who have subscribed today)</dd>
	<dt><code>!tableflip</code></dt>
	<dd><code>(╯°□°）╯︵ ┻━┻</code></dd>
	<dt><code>!fixtable</code></dt>
	<dd><code>┳━┳ ノ(º_ºノ)</code></dd>
	<dt><code>!picnic</code></dt>
	<dd><code>(╯°Д°）╯︵ɥɔʇıʍʇ</code></dd>
</dl>
<h3>Stats tracking</h3>
<p>The system can track several stats for each game. The stats available are:</p>
<ul>
	<li><code>death</code> &ndash; self-explanatory</li>
	<li><code>diamond</code> &ndash; mostly for Minecraft</li>
	<li><code>flunge</code> &ndash; mostly for Magic: the Gathering, whenever a strong offensive maneuver is made without thinking through the consequences</li>
	<li><code>pardonfuck</code> &ndash; for when a game is ridiculously cheap and/or buggy</li>
	<li><code>tilt</code> &ndash; when the host gets... upset... about a game</li>
	<li><code>scream</code> &ndash; when the host reacts loudly to a horror game</li>
	<li><code>busstop</code> &ndash; you can't prove it won't happen</li>
</ul>
<dl>
	<dt><code>!</code><i>stat</i></dt>
	<dd>eg: <code>!death</code></dd>
	<dd>Adds 1 to the stat counter for the current game</dd>
	<dt class="modonly"><code>!</code><i>stat</i><code> add </code><i>#</i></dt>
	<dd class="modonly">eg: <code>!diamond add 3</code></dd>
	<dd class="modonly">(mod only) Adds # to counter for the current game</dd>
	<dt class="modonly"><code>!</code><i>stat</i><code> remove </code><i>#</i></dt>
	<dd class="modonly">eg: <code>!flunge remove</code></dd>
	<dd class="modonly">(mod only) Removes # (default 1) from counter for the current game</dd>
	<dt class="modonly"><code>!</code><i>stat</i><code> set </code><i>#</i></dt>
	<dd class="modonly">eg: <code>!busstop set 0</code></dd>
	<dd class="modonly">(mod only) Resets the counter to the specified number for the current game</dd>
	<dt><code>!</code><i>stat</i><code>Count</code></dt>
	<dd>eg: <code>!deathcount</code></dd>
	<dd>Post total count for the current game</dd>
	<dt><code>!total</code><i>stat</i><code></code></dt>
	<dd>eg: <code>!totaldeath</code></dd>
	<dd>Post total count for every game</dd>
</dl>
<!--
<h4>Tournament record</h4>
<dl>
	<dt><code>!matchwin</code></dt>
	<dd>Add a win to counter</dd>
	<dt><code>!matchwin remove</code></dt>
	<dd>(mod only) Remove a win from counter</dd>
	<dt><code>!matchlose</code></dt>
	<dd>Add a loss to counter</dd>
	<dt><code>!matchlose remove</code></dt>
	<dd>(mod only) Remove a loss from counter</dd>
	<dt><code>!matchresult</code></dt>
	<dd>Post current match results</dd>
	<dt><code>!matchreset</code></dt>
	<dd>(mod only) resets match counters</dd>
</dl>
-->
{%endblock%}
