{%extends "master.html"%}
{%block title%}LRRbot{%endblock%}
{%block header%}LRRbot{%endblock%}
{%block content%}
<div class="splash">
	<a href="{{static_url('splash_large.png')|e}}">	<img src="{{static_url('splash.png')|e}}" alt="LRRbot logo" width="222" height="351"></a>
</div>
<h2>What is LRRbot?</h2>
<p>LRRbot is a IRC bot that lives in the <a href="https://twitch.tv/loadingreadyrun/">LoadingReadyRun Twitch stream</a> chat channel. It responds to <a href="{{url_for('help.help')|e}}">a variety of commands</a>, mostly to keep track of various statistics about the stream, like the number of times the streamers have died in each game. It also has an assortment of other informational and/or joke commands, and keeps track of <a href="{{url_for('notifications.notifications')|e}}">how many people have subscribed each day</a>.</p>
<h2>Who made LRRbot?</h2>
<p>The original LRRbot was made by <a href="https://twitter.com/d3fr0st">d3fr0st</a>, as a mIRC script, and quickly grew to the point where it was no longer viable to keep the bot running in a chat client on his local computer.</p>
<p><a href="https://twitter.com/mrphlip">MrPhlip</a> helped with the conversion of the bot to a new Python framework, and is now the primary developer for the bot.</p>
<p><a href="https://twitter.com/qrpth">qrpth</a> has made many contributions to the codebase, and provides the hosting that the bot runs on.</p>
<p>Twisted Pear has made another bot for the channel, <a href="https://pump19.eu/">Pump19</a>, and some of its features/code have made their way across to LRRbot.</p>
<p>The LRRbot logo was drawn by <a href="http://www.featherweightcreations.com/">Featherweight</a>, who does a great many awesome things, and has <a href="https://www.patreon.com/Featherweight">a Patreon</a> that you should probably check out.</p>
<p>All the code for the bot is <a href="https://github.com/mrphlip/lrrbot/">in GitHub</a> so feel free to check it out, make suggestions there, or fork it and make your own changes.</p>
<div class="clear"></div>
{%endblock%}
