{%extends "master.html"%}
{%block title%}Log In{%endblock%}
{%block header%}Log In{%endblock%}
{%block headextra%}
<script>
var nonce = {{nonce|tojson}};
function init()
{
	document.getElementById("remember_me_wrapper").style.display = "";
	update_state();
	{%if special_user%}
	document.getElementById("frm").submit();
	{%endif%}
}
function update_state()
{
	var remember_me = document.getElementById("remember_me").checked;
	var state = nonce + ":" + (remember_me ? 1 : 0);
	document.getElementById("state").value = state;
}
window.onload = init;
</script>
{%endblock%}
{%block content%}
{%if special_user%}
<p class="error">Trying to log in as a special user <code>{{special_user|e}}</code>. Attempting login again with extra permissions requested...</p>
{%else%}
<p>Logging in to the LRRbot website via Twitch will let us know what your username is in the chat. It also allows moderators access to administrative pages on the site.</p>
{%endif%}
<form id="frm" action="https://id.twitch.tv/oauth2/authorize" method="GET" {%if special_user%}style="display:none"{%endif%}>
<div id="remember_me_wrapper" style="display: none; margin: 0.25em 0"><label><input id="remember_me" type="checkbox" onclick="update_state()" onchange="update_state()" {%if remember_me%}checked{%endif%}> Remember me</label></div>
<input type="hidden" name="response_type" value="code">
<input type="hidden" name="client_id" value="{{clientid|e}}">
<input type="hidden" name="redirect_uri" value="{{redirect_uri|e}}">
<input type="hidden" name="scope" value="{{scope|e}}">
<input type="hidden" id="state" name="state" value="{{nonce|e}}">
<input type="image" alt="Login via Twitch" src="{{static_url('connect_dark.png')|e}}">
</form>
{%endblock%}
