{%extends "master.html"%}
{%block title%}Notifications{%endblock%}
{%block header%}Notifications{%endblock%}
{%block headextra%}
<script type="text/javascript" src="{{static_url('notifications.js')|e}}"></script>
<script>
	window.last_event_id = {{ last_event_id | tojson }};
	window.PATREON_CREATOR_NAME = {{ patreon_creator_name | tojson }};
</script>
{%endblock%}
{%block content%}
<div id="milestones">
	<div id="milestoneshow">?</div>
	<div id="milestonetable"><table class="nicetable">
		<thead><tr>
			<th colspan="2">Months since</th>
		</tr></thead>
		<tbody>
			{% for name, dt, months in milestones %}
				<tr>
					<td class="name">{{ name | e }}<div class="date">{{ dt | e }}</div></td>
					<td class="months">{{ months | e }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table></div>
</div>
<ol id="notificationlist" data-last-event-id="{{ last_event_id }}">
	{% for event in events %}
		<li class="{{ loop.cycle('even', 'odd') }}">
			{{ event['data']['time'] | timestamp('timestamp-duration', 'div') }}
			<div class="container">
				{% if event['event'] == 'twitch-subscription' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> just
								subscribed{% if event['data']['benefactor'] %}, thanks to {{ event['data']['benefactor'] | e }}{% endif %}!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'twitch-resubscription' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span>
								subscribed for {{ event['data']['monthcount'] }} month{% if event['data']['monthcount'] != 1%}s{% endif %}{% if event['data']['benefactor'] %}, thanks to {{ event['data']['benefactor'] | e }}{% endif %}!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'twitch-subscription-mysterygift' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span>
								has gifted {{ event['data']['subcount'] }} sub{% if event['data']['subcount'] != 1%}s{% endif %} in the channel!
							</p>
							{% for sub in event['data']['subscribers'] %}
								<div class="sublist{% if sub['avatar'] %} with-avatar{% endif %}">
									{% if sub['avatar'] %}
										<img class="avatar" src="{{ sub['avatar'] | https }}">
									{% endif %}
									<p class="message">
										<span class="nickname">{{ sub['name'] }}</span>
										{% if sub['monthcount'] %}
											for {{ sub['monthcount'] }} month{% if sub['monthcount'] != 1%}s{% endif %}!
										{% else %}
											is a new subscriber!
										{% endif %}
									</p>
								</div>
							{% endfor %}
						</div>
					</div>
				{% elif event['event'] == 'twitch-cheer' %}
					<div class="user with-avatar">
						<img class="avatar" src="https://static-cdn.jtvnw.net/bits/light/static/{{ event['data']['level'] }}/3">
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> has cheered with
									<span class="cheer {{ event['data']['level'] }}">{{ event['data']['bits'] }}</span> bits!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'twitch-raid' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> just raided with
								{{ event['data']['count'] }} viewers!
							</p>
						</div>
					</div>
				{% elif event['event'] == 'twitch-message' %}
					<div class="message">{{ event['data']['message'] }}</div>
				{% elif event['event'] == 'patreon-pledge' %}
					<div class="user{% if event['data']['patreon']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['patreon']['avatar'] %}
							<img class="avatar" src="{{ event['data']['patreon']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message"><span class="nickname">{{ event['data']['twitch']['name'] or event['data']['patreon']['full_name'] }}</span> is now supporting {{ patreon_creator_name }} on Patreon!</p>
						</div>
					</div>
				{% elif event['event'] == 'youtube-membership' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> became a channel
								member{% if event['data']['benefactor'] %}, thanks to {{ event['data']['benefactor'] | e }}{% endif %}!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'youtube-membership-milestone' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> has been a channel member for
								{{ event['data']['monthcount'] }} month{% if event['data']['monthcount'] != 1%}s{% endif %}{% if event['data']['benefactor'] %}, thanks to {{ event['data']['benefactor'] | e }}{% endif %}!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'youtube-membership-gift' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> has gifted
								{{ event['data']['count'] }} membership{% if event['data']['subcount'] != 1%}s{% endif %} in the channel!
							</p>
							{% for member in event['data']['members'] %}
								<div class="sublist{% if member['avatar'] %} with-avatar{% endif %}">
									{% if member['avatar'] %}
										<img class="avatar" src="{{ member['avatar'] | https }}">
									{% endif %}
									<p class="message">
										<span class="nickname">{{ member['name'] }}</span>
										{% if member['monthcount'] %}
											for {{ member['monthcount'] }} month{% if member['monthcount'] != 1%}s{% endif %}!
										{% else %}
											is a new member!
										{% endif %}
									</p>
								</div>
							{% endfor %}
						</div>
					</div>
				{% elif event['event'] == 'youtube-super-chat' %}
					<div class="user{% if event['data']['avatar'] %} with-avatar{% endif %}">
						{% if event['data']['avatar'] %}
							<img class="avatar" src="{{ event['data']['avatar'] | https }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> has sent a Super Chat for
								<span class="super-chat level-{{ event['data']['level'] }}">{{ event['data']['amount'] }}</span>!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% elif event['event'] == 'youtube-super-sticker' %}
					<div class="user{% if event['data']['sticker_url'] %} with-avatar{% endif %}">
						{% if event['data']['sticker_url'] %}
							<img class="avatar" src="{{ event['data']['sticker_url'] | https }}" alt="{{ event['data']['alt_text'] }}" title="{{ event['data']['alt_text'] }}">
						{% endif %}
						<div class="message-container">
							<p class="system-message">
								<span class="nickname">{{ event['data']['name'] }}</span> has sent a Super Sticker for
								<span class="super-chat level-{{ event['data']['level'] }}">{{ event['data']['amount'] }}</span>!
							</p>
							{% if event['data']['messagehtml'] %}
								<p class="message"><q>{{ event['data']['messagehtml'] | safe }}</q></p>
							{% elif event['data']['message'] %}
								<p class="message"><q>{{ event['data']['message'] }}</q></p>
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ol>
{%endblock%}
