{%extends "master.html"%}
{%block title%}Notifications{%endblock%}
{%block header%}Twitch Notifications{%endblock%}
{%block headextra%}
<script type="text/javascript" src="{{url_for('static', filename='notifications.js')|e}}"></script>
{%endblock%}
{%block content%}
<ol id="notificationlist" data-maxkey="{{maxkey}}">
{%for row in row_data%}
	<li {%if row['time']%}data-timestamp="{{row['time'].timestamp()}}"{%endif%} class="{{loop.cycle('even', 'odd')}}">
	{%if row['duration']%}<div class="duration">{{row['duration']|e}}</div>{%endif%}
	{%if row['channel']%}<div class="channel">{{row['channel']|e}}</div>{%endif%}
	{%if row['user']%}
		<div class="user">
		{%if row['avatar']%}<a href="https://www.twitch.tv/{{row['user']|e}}"><img class="avatar" src="{{row['avatar']|https|e}}"></a>{%endif%}
		<a href="https://www.twitch.tv/{{row['user']|e}}">{{row['user']|e}}</a> just subscribed!
		{%if row['monthcount']%}{{row['monthcount']|e}} month{%if row['monthcount'] != 1%}s{%endif%} in a row!{%endif%}
		</div>
	{%else%}
		<div class="message">{{row['message']|e}}</div>
	{%endif%}
	</li>
{%endfor%}
</ol>
{%endblock%}
