<!DOCTYPE html>
<html>
<head>
<title>OAuth Handshake</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="content">
<form action="https://api.twitch.tv/kraken/oauth2/authorize" method="GET">
<input type="hidden" name="response_type" value="code">
<input type="hidden" name="client_id" value="{{clientid|e}}">
<input type="hidden" name="redirect_uri" value="{{redirect_uri|e}}">
<input type="hidden" name="scope" value="{{scope|e}}">
<input type="submit" value="Get OAuth token">
</form>
</div>
</body>
</html>
