{%extends "master.html"%}
{%if args is undefined%}
{% set args = {} %}
{%endif%}
{%block content%}
{%block precontent%}
{%endblock%}
<ul class="pagination">
	{%if page > 1 %}
	<li><a href="{{url_for(request.url_rule.endpoint, page=1, **args)|e}}">&lt;&lt;</a></li>
	<li><a href="{{url_for(request.url_rule.endpoint, page=page-1, **args)|e}}">&lt;</a></li>
	{%endif%}
	{%for page_no in range(max(1, page-3), min(pages, page+3)+1)%}
		{%if page_no == page%}
			<li class="current">{{page_no|e}}</li>
		{%else%}
			<li><a href="{{url_for(request.url_rule.endpoint, page=page_no, **args)|e}}">{{page_no|e}}</a></li>
		{%endif%}
	{%endfor%}
	{%if page < pages %}
	<li><a href="{{url_for(request.url_rule.endpoint, page=page+1, **args)|e}}">&gt;</a></li>
	<li><a href="{{url_for(request.url_rule.endpoint, page=pages, **args)|e}}">&gt;&gt;</a></li>
	{%endif%}
</ul>
{%block pagecontent%}
{%endblock%}
<ul class="pagination">
	{%if page > 1 %}
	<li><a href="{{url_for(request.url_rule.endpoint, page=1, **args)|e}}">&lt;&lt;</a></li>
	<li><a href="{{url_for(request.url_rule.endpoint, page=page-1, **args)|e}}">&lt;</a></li>
	{%endif%}
	{%for page_no in range(max(1, page-3), min(pages, page+3)+1)%}
		{%if page_no == page%}
			<li class="current">{{page_no|e}}</li>
		{%else%}
			<li><a href="{{url_for(request.url_rule.endpoint, page=page_no, **args)|e}}">{{page_no|e}}</a></li>
		{%endif%}
	{%endfor%}
	{%if page < pages %}
	<li><a href="{{url_for(request.url_rule.endpoint, page=page+1, **args)|e}}">&gt;</a></li>
	<li><a href="{{url_for(request.url_rule.endpoint, page=pages, **args)|e}}">&gt;&gt;</a></li>
	{%endif%}
</ul>
{%block postcontent%}
{%endblock%}
{%endblock%}
