{%extends "pagination.html"%}
{%block title%}Quotes{%endblock%}
{%block header%}Quotes{%endblock%}
{%block precontent%}
<div class="quote-disclaimer">Please keep in mind that many of the following quotes are taken out of context, be it for comedic effect or out of necessity. Take all of them with a grain of salt and bear in mind they don't necessarily reflect their originators' views and opinions. That being said, if you find any quote to be particularly awful, please notify the moderator of your choice to have its removal evaluated.</div>
<form action="{{url_for('quotes.search')}}">
<table class="quote-search">
	<tr>
		<td class="searchmode"><select name="mode">
			<option value="text"{%if args['mode'] == 'text'%} selected{%endif%}>Search quotes</option>
			<option value="name"{%if args['mode'] == 'name'%} selected{%endif%}>Search names</option>
		</select></td>
		<td class="searchbar"><input type="text" name="q" placeholder="Search..."{%if args['q'] is defined%} value="{{args['q']}}"{%endif%}></td>
		<td class="submit"><input type="submit" value="Search"></td>
	</tr>
</table>
</form>
{%endblock%}
{%block pagecontent%}
<ol class="quotes">
{% for qid, quote, name, date, context, game, show in quotes %}
<li value="{{qid|e}}" {%if loop.first%}class="first"{%endif%}>
	<div class="num">#{{qid|e}}</div>
	<blockquote>{{quote|e}}</blockquote>
	{% if name or date or context or game or show %}
	<div class="attrib">&#8212;
		{% if name %}{{name|e}}{% if context %}, {% endif %}{% endif %}
		{% if context %}{{context|e}}{% endif %}
		{% if date %}<span class="date">[{{date|e}}]</span>{% endif %}
		{% if game or show %}<div class="game">{{ game }} on {{ show }}</div>{% endif %}
	</div>
	<div class="clear"></div>
	{% endif %}
</li>
{% endfor %}
</ol>
{%endblock%}
