{%extends "master.html"%}
{%block title%}Spam Rules{%endblock%}
{%block header%}Spam Rules{%endblock%}
{%block headextra%}
<script type="text/javascript">
    window.csrf_token = {{csrf_token()|tojson}};
    window.link_spam = {{link_spam|tojson}};
</script>
<script type="text/javascript" src="{{static_url('spam.js')|e}}"></script>
<script type="text/javascript">
$(function(){
	$("th.type .tooltip").tooltip({
		'items': '.tooltip',
		'content': function() {
			return "<dl><dt>Spam</dt><dd>Intended for spam bots. First instance is just a purge, in case of a false positive, but second strike is a timeout, and third strike is a ban.</dd><dt>Censor</dt><dd>Inteneded for no-no words actual humans say, but we don't want them to. Will only purge, no escalation, and the whispered warning is more gentle.</dd></dl>";
		}
	});

	$("th.pattern-type .tooltip").tooltip({
		'items': '.tooltip',
		'content': function() {
			return "<dl><dt>Text</dt><dd>Match text as written. Case sensitive.</dd><dt>Confusables</dt><dd>Match text but also consider look-alike symbols.</dd><dt>Regular expression</dt><dd>Match using regular expressions.</dd></dl>";
		}
	});
})
</script>
{%endblock%}
{%block content%}
<ol class="menu">
	<li class="first">
		{% if link_spam %}
			<strong>Link spam rules</strong>
		{% else %}
			<a href="{{url_for('spam.spam', link_spam='')|e}}">Link spam rules</a>
		{% endif %}
	</li>
	<li><a href="{{url_for('spam.find')|e}}">Find potential spambots</a></li>
	<li><a href='https://docs.python.org/3/library/re.html#regular-expression-syntax'>Regular expression syntax</a></li>
</ol>
<div style="text-align:right; margin: 1em">
	<button class="save">Save</button>
	<div class="save loading" style="display: none; margin: 0 0 0 auto"></div>
</div>
<table class="nicetable spam">
<thead>
<tr>
	<th class="action"></th>
	<th class="pattern-type">Pattern type <span class="tooltip" title="Text: Match text as written. Case sensitive. // Confusables: Match text but also consider look-alike symbols. // Regular expression: Match using regular expressions.">[?]</span></th>
	<th class="re">Expression</th>
	<th class="message">Message</th>
	<th class="type">Type <span class="tooltip" title="Spam: Intended for spam bots. First instance is just a purge, in case of a false positive, but second strike is a timeout, and third strike is a ban. // Censor: Inteneded for no-no words actual humans say, but we don't want them to. Will only purge, no escalation, and the whispered warning is more gentle.">[?]</span></th>
</tr>
</thead>
<tbody>
{%for rule in rules%}
<tr class="{{loop.cycle('odd', 'even')}}">
	<td class="action">
		<div class="button icon remove"></div>
	</td>
	<td class="pattern-type">
		<select>
			<option value="text" {% if rule.get('pattern_type', 'regex') == 'text' %}selected{% endif %}>Text</option>
			<option value="confusables" {% if rule.get('pattern_type', 'regex') == 'confusables' %}selected{% endif %}>Confusables</option>
			<option value="regex" {% if rule.get('pattern_type', 'regex') == 'regex' %}selected{% endif %}>Regular expression</option>
		</select>
	</td>
	<td class="re">
		<input type="text" value="{{rule['re']|e}}">
	</td>
	<td class="response">
		<input type="text" value="{{rule['message']|e}}">
	</td>
	<td class="type">
		<select>
			<option value="spam" {%if rule.get('type', 'spam') == 'spam'%}selected{%endif%}>Spam</option>
			<option value="censor" {%if rule.get('type', 'spam') == 'censor'%}selected{%endif%}>Censor</option>
		</select>
	</td>
</tr>
{%endfor%}
</tbody>
<tfoot>
<tr>
	<td class="action">
		<div class="button icon add"></div>
	</td>
	<td class="pattern-type"></td>
	<td class="re"></td>
	<td class="response"></td>
	<td class="type"></td>
</tr>
</tfoot>
</table>

{% if link_spam %}
<h2>Follow redirects</h2>
<p><input type="text" class="redirects"> <button class="redirects">Follow redirects</button></p>
<ol class="redirects"></ol>
{% endif %}

<h2>Testing area</h2>
<p>Copy text here from the chat to test out the spam rules, before saving them!</p>
<div><textarea style="width: 100%; height: 5em" id="testtext"></textarea></div>
<div><label><input type="checkbox" id="onlyspam"> Only show matches</label></div>
<div>
	<button class="test">Test spam rules</button>
	<div class="test loading" style="display: none; margin: 0 auto 0 0"></div>
</div>
<div id="spamresults"></div>
{%endblock%}
