{%extends "master.html"%}
{%block title%}Stats{%endblock%}
{%block header%}Statistics{%endblock%}
{%block headextra%}
<script type="text/javascript" src="{{url_for('static', filename='highcharts.js')|e}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jquery.dataTables.min.js')|e}}"></script>
{%endblock%}
{%block content%}
<ol class="menu">
    <li class="first">
        {%if show_id is none%}
        <strong>All</strong>
        {%else%}
        <a href="{{url_for('stats')|e}}">All</a>
        {%endif%}
    </li>
    {%for show in shows%}
    <li>
        {%if show_id == show['id']%}
        <strong>{{show['name']|e}}</strong>
        {%else%}
        <a href="{{url_for('stats')|e}}?show={{show['id']|urlencode|e}}">{{show['name']|e}}</a>
        {%endif%}
    </li>
    {%endfor%}
</ol>
<table class="nicetable statstable" id="stats">
<thead>
<tr>
	<th class="game">{%if show_id is none%}Show{%else%}Game{%endif%}</th>
	{%for stat in stats%}
		<th class="stat {{stat['statkey']|e}}">{{stat['plural']|ucfirst|e}}</th>
	{%endfor%}
</tr>
</thead>
<tbody>
{%for entry in entries%}
	<tr class="{{loop.cycle('odd', 'even')|e}}">
		<td class="game">
			{%if entry['display'] != entry['name']%}
				<span class="alias" title="{{entry['name']|e}}">{{entry['display']|e}}</span>
			{%else%}
				{{entry['display']|e}}
			{%endif%}
			{%if 'show' in entry%}({{entry['show']|e}}){%endif%}
		</td>
		{%for stat in stats%}
			<td class="stat {{stat['statkey']|e}}">{{entry['stats'][stat['statkey']]|e}}</td>
		{%endfor%}
	</tr>
{%endfor%}
</tbody>
<tfoot>
<tr>
	<th class="total">Total</th>
	{%for stat in stats%}
		<th class="stat {{stat['statkey']|e}}">{{stat['total']|e}}</th>
	{%endfor%}
</tr>
</tfoot>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $("#stats tr").removeClass("even odd");
    $("#stats").dataTable({
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false,
        "aoColumns": [
            {"sType": "html"},
            {% for stat in stats %}
            {"asSorting": ["desc", "asc"]},
            {% endfor %}
        ]
    });
});
</script>

{% if votegames is not none %}
	<table class="nicetable statstable">
	<thead>
	<tr>
		<th class="game">Game</th>
		<th class="rating" colspan="2">Rating</th>
	</tr>
	</thead>
	<tbody>
	{%for game in votegames%}
		<tr class="{{loop.cycle('odd', 'even')|e}}">
			<td class="game">
				{%if game['display'] != game['name']%}<span class="alias" title="{{game['name']|e}}">{%endif%}
				{{game['display']|e}}
				{%if game['display'] != game['name']%}</span>{%endif%}
				{%if 'show' in game%}({{game['show']|e}}){%endif%}
			</td>
			<td class="rating graph">
				<div class="rating">
					<div class="good" style="width: {{game['voteperc']|e}}%"></div>
				</div>
			</td>
			<td class="rating numbers">{{game['votegood']|e}} / {{game['votecount']|e}}</td>
		</tr>
	{%endfor%}
	</tbody>
	</table>
{%endif%}

{%for stat in stats%}
<div class="highchart" id="chart-{{stat['statkey']|e}}"></div>
<script type="text/javascript">
$(function () {
	$('#chart-'+{{stat['statkey']|tojson}}).highcharts({
		title: {
				text: {{stat['plural']|ucfirst|tojson}}
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.y}</b><br>Share: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								format: '<b>{point.name}</b>: {point.y}'
						}
				}
		},
		series: [{
				type: 'pie',
				name: {{stat['plural']|ucfirst|tojson}},
				data: {{stat['graphdata']|tojson}}
		}]
	});
});
</script>
{%endfor%}
{%endblock%}
