{%extends "master.html"%}
{%block title%}Stats{%endblock%}
{%block header%}Statistics{%endblock%}
{%block headextra%}
<script type="text/javascript" src="static/jquery-1.10.2.js"></script>
<script type="text/javascript" src="static/highcharts.js"></script>
<script type="text/javascript" src="static/jquery.dataTables.min.js"></script>
{%endblock%}
{%block content%}
<table class="statstable" id="stats">
<thead>
<tr>
	<th class="game">Game</th>
	{%for stat in stats%}
		<th class="stat {{stat['statkey']|e}}">{{stat['plural']|ucfirst|e}}</th>
	{%endfor%}
</tr>
</thead>
<tbody>
{%for game in games%}
	<tr class="{{loop.cycle('even', 'odd')}}">
		<td class="game">
			{%if game['display'] != game['name']%}<span class="alias" title="{{game['name']|e}}">{%endif%}
			{{game['display']|e}}
			{%if game['display'] != game['name']%}</span>{%endif%}
		</td>
		{%for stat in stats%}
			<td class="stat {{stat['statkey']|e}}">{{game['stats'][stat['statkey']]|e}}</td>
		{%endfor%}
	</tr>
{%endfor%}
</tbody>
<tfoot>
<tr>
	<th class="total">Total</th>
	{%for stat in stats%}
		<th class="stat {{stat['statkey']|e}}">{{stat['total']|e}}</th>
	{%endfor%}
</tr>
</tfoot>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $("#stats tr").removeClass("even odd");
    $("#stats").dataTable({
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false
    });
});
</script>

<table class="statstable">
<thead>
<tr>
	<th class="game">Game</th>
	<th class="rating" colspan="2">Rating</th>
</tr>
</thead>
<tbody>
{%for game in votegames%}
	<tr class="{{loop.cycle('even', 'odd')}}">
		<td class="game">
			{%if game['display'] != game['name']%}<span class="alias" title="{{game['name']|e}}">{%endif%}
			{{game['display']|e}}
			{%if game['display'] != game['name']%}</span>{%endif%}
		</td>
		<td class="rating graph">
			<div class="rating">
				<div class="good" style="width: {{game['voteperc']}}%"></div>
				<div class="bad" style="width: {{100.0 - game['voteperc']}}%"></div>
			</div>
		</td>
		<td class="rating numbers">{{game['votegood']}} / {{game['votecount']}}</td>
	</tr>
{%endfor%}
</tbody>
</table>
{%for stat in stats%}
<div class="highchart" id="chart-{{stat['statkey']|e}}"></div>
<script type="text/javascript">
$(function () {
	$('#chart-'+{{stat['statkey']|tojson}}).highcharts({
		title: {
				text: {{stat['plural']|ucfirst|tojson}}
		},
		tooltip: {
			pointFormat: '{series.name}: <b>{point.y}</b><br>Share: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: true,
								color: '#000000',
								connectorColor: '#000000',
								format: '<b>{point.name}</b>: {point.y}'
						}
				}
		},
		series: [{
				type: 'pie',
				name: {{stat['plural']|ucfirst|tojson}},
				data: {{stat['graphdata']|tojson}}
		}]
	});
});
</script>
{%endfor%}
{%endblock%}
