{% extends "master.html" %}
{% block title %}Timers{% endblock %}
{% block header %}Timers{% endblock %}
{% block headextra %}
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
			document.querySelectorAll('form.del').forEach(function (form) {
				form.addEventListener('submit', function (event) {
					var row = event.target;
					while (row.nodeName !== 'TR')
						row = row.parentElement;

					var name = row.querySelector('td.message').textContent;

					if (!confirm(`Really delete '${name}'?`)) {
						event.preventDefault();
					}
				})
			})
		});
	</script>
{% endblock %}
{% block content %}
	<table class="nicetable timers">
		<thead>
			<tr>
				<th class="name">Name</th>
				<th class="interval">Interval</th>
				<th class="mode">Mode</th>
				<th class="message">Message</th>
				<th class="next-run">Next</th>
				<th class="button">
					<form action="{{ url_for('timers.new') }}">
						<button type="submit">Add</button>
					</form>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for timer in timers %}
				<tr class="{{ loop.cycle('odd', 'even') }}">
					<td class="name">{{ timer['name'] }}</td>
					<td class="interval">{{ timer['interval'] | nice_duration }}</td>
					<td class="mode">{{ timer['mode'] }}</td>
					<td class="message">{{ timer['message'] }}</td>
					<td class="next-run">
						{% if timer['next_run'] %}
							{{ timer['next_run'] | timestamp }} (in {{ timer['next_run_in'] | nice_duration }})
						{% endif %}
					</td>
					<td class="button">
						<form action="{{ url_for('timers.edit', id=timer['id']) }}">
							<button type="submit">Edit</button>
						</form>

						<form class="del" action="{{ url_for('timers.delete', id=timer['id']) }}" method="post">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
							<button type="submit" class="del">
								Delete
							</button>
						</form>
					</td>
				</tr>
			{%endfor%}
		</tbody>
	</table>
{%endblock%}
