[Unit]
Description=Timer for the updating the card database (%i)

[Timer]
OnCalendar=weekly America/Vancouver
Persistent=true

[Install]
WantedBy=default.target
