[Unit]
Description=LoadingReadyLive chatbot: Discord bot

[Service]
Type=simple
KillSignal=SIGINT
Restart=always
WorkingDirectory=%h/lrrbot
ExecStart=/bin/sh -c "exec torsocks %h/lrrbot/venv/bin/python3 start_eris.py"

[Install]
WantedBy=default.target
