[Unit]
Description=LoadingReadyLive chatbot: Discord bot

[Service]
Type=simple
KillSignal=SIGINT
TimeoutStartSec=15s
WatchdogSec=120s
Restart=always
NotifyAccess=main
WorkingDirectory=%h/lrrbot
ExecStart=%h/lrrbot/venv/bin/python3 %h/lrrbot/start_eris.py

[Install]
WantedBy=default.target
