[Unit]
Description=asyncio server-sent events server

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=/usr/bin/env pipenv run ./eventserver.py

[Install]
WantedBy=default.target
