[Unit]
Description=asyncio server-sent events server

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=/bin/sh -c "%h/lrrbot/venv/bin/python3 eventserver.py"

[Install]
WantedBy=default.target
