[Unit]
Description=Find Twitch clips (week)

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=/usr/bin/env pipenv run ./find_clips.py -p 10 7

[Install]
WantedBy=default.target
