[Unit]
Description=Timer for the find_clips script

[Timer]
# Hourly, on the hour
OnCalendar=*:00:00
Persistent=true

[Install]
WantedBy=default.target
