[Unit]
Description=Timer for the find_clips_slow script

[Timer]
# Twice a day, at half past the hour
OnCalendar=*/12:30:00
Persistent=true

[Install]
WantedBy=default.target
