[Unit]
Description=Find Twitch clips

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=%h/lrrbot/venv/bin/python3 %h/lrrbot/find_clips.py

[Install]
WantedBy=default.target
