[Unit]
Description=Find Twitch clips

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=/usr/bin/env pipenv run ./find_clips.py day

[Install]
WantedBy=default.target
