[Unit]
Description=Add highlights to the highlight spreadsheet

[Service]
WorkingDirectory=%h/lrrbot
ExecStart=%h/lrrbot/venv/bin/python3 %h/lrrbot/highlights.py
