[Unit]
Description=LoadingReadyLive chatbot

[Service]
Type=notify
KillSignal=SIGINT
TimeoutStartSec=15s
WatchdogSec=120s
Restart=always
NotifyAccess=main
WorkingDirectory=%h/lrrbot
ExecStart=/usr/bin/env pipenv run ./start_bot.py

[Install]
WantedBy=default.target
