[Unit]
Description=LoadingReadyLive chatbot

[Service]
KillSignal=SIGINT
Restart=always
WorkingDirectory=%h/lrrbot
ExecStart=/bin/sh -c "exec %h/lrrbot/venv/bin/python3 start_bot.py"

[Install]
WantedBy=default.target
