[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiomas = "*"
alembic = "*"
blinker = "*"
cryptography = "*"
flask-seasurf = "*"
irc = "*"
psycopg2 = "*"
python-dateutil = "*"
python-mimeparse = "*"
regex = "*"
requests = "*"
timelib = "*"
async_timeout = "*"
# Flask-SeaSurf does not work with Flask 3.
Flask = {extras = ["async"], version = "<3.0.0"}
Flask-SQLAlchemy = "*"
Jinja2 = "*"
SQLAlchemy = {extras = ["postgresql"], version = "*"}
confusables = "*"
html2text = "*"

[requires]
python_version = "3.12"
