[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiomas = "*"
alembic = "*"
blinker = "*"
cryptography = "*"
flask-csrf = "*"
irc = "*"
psycopg2 = "*"
python-dateutil = "*"
python-mimeparse = "*"
regex = "*"
requests = "*"
timelib = "*"
async_timeout = "*"
Flask = {extras = ["async"], version = "*"}
Flask-SQLAlchemy = "*"
Jinja2 = "*"
SQLAlchemy = "*"
typing-extensions = "*"
# Pinning this version of werkzeug until flask-csrf updates to be compatible with the latest ver
werkzeug = "==2.1.2"

[requires]
python_version = "3.10"
