# This file lists all dependencies pinned to the used version.
# It is basically equivalent to lockfiles in Bundler, Cargo or Yarn.
# Use `pip freeze -r requirements.txt | grep -vE "^## The following requirements were added by pip freeze:\$|^pkg-resources==0.0.0\$"` to generate.
aiohttp==3.4.2
aiomas==2.0.1
alembic==1.0.0
appdirs==1.4.3
arrow==0.12.1
asn1crypto==0.24.0
async-timeout==3.0.0
blinker==1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
discord.py==0.16.12
Flask==1.0.2
flask-csrf==0.9.2
Flask-SQLAlchemy==2.3.2
idna==2.7
inflect==1.0.0
irc==16.4
itsdangerous==0.24
jaraco.classes==1.5
jaraco.collections==1.5.3
jaraco.functools==1.20
jaraco.itertools==2.5
jaraco.logging==1.5.2
jaraco.stream==1.2
jaraco.text==1.10.1
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
multidict==4.3.1
packaging==17.1
peony-twitter==1.1.0
psycopg2==2.7.5
pubnub==4.1.0
pycparser==2.18
pycryptodomex==3.6.6
pyparsing==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
python-mimeparse==1.6.0
pytz==2018.5
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.11
tempora==1.13
timelib==0.2.4
urllib3==1.22
websockets==6.0
Werkzeug==0.14.1
yarl==1.2.6
regex==2018.08.17
