[Unit]
Description=LoadingReadyLive chatbot: uWSGI workers

[Service]
Type=notify
KillSignal=SIGINT
TimeoutStartSec=15s
Restart=always
NotifyAccess=main
WorkingDirectory=%h/lrrbot
ExecStart=/bin/sh -c 'uwsgi --ini uwsgi.ini --socket /tmp/uwsgi-lrrbot.sock --virtualenv "$(pipenv --venv)"'

[Install]
WantedBy=default.target
