html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font: 100% sans-serif;
	background: white;
	color: black;
}

.header {
	position: relative;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	margin: 0;
	color: black;
	background-color: #CCC;
	/* Thanks to: http://www.css3factory.com/linear-gradients/ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, #CCCCCC), color-stop(1, #EEEEEE));
	background-image: -o-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: linear-gradient(to bottom, #CCCCCC 75%, #EEEEEE 100%);
}
.header h1 {
	margin: 0;
	padding: 0;
	font: bold 150% sans-serif;
	color: white;
	text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 2px 2px 2px #000;
}
.header img {
	vertical-align: middle;
	margin: 0 0.5em 0 0;
}
.header .login {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}
.header .login .display-name {
	font-weight: bold;
}
.infobar, .menu {
	position: relative;
	border-radius: 0.5em;
	padding: 0.25em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #EEE;
}
.infobar {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.infobar ul, .menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.infobar li, .menu li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0.5em;
	border-left: 1px dotted grey;
}
.infobar li.first, .menu li.first {
	border-left: none;
}
.infobar {
	font-size: 90%;
}
.infobar .advice {
	float: right;
	margin: 0 0.5em;
	font-size: 80%;
	font-style: italic;
}
.infobar .showmore {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin: 0 0.25em 0 0;
	background: url(expandcollapse.png) no-repeat;
	cursor: pointer;
}
.infobar .showmore.expand {
	background-position: center left;
}
.infobar .showmore.collapse {
	background-position: center right;
}
.infobar .currently-playing, .infobar .stat-count {
	font-weight: bold;
}
.menu :link, .menu :visited {
	color: #00E;
	text-decoration: none;
}
.body-content {
	position: relative;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #EEE;
}
.footer {
	position: relative;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #CCC;
	font-size: 80%;
}

h1, h2, h3, h4, p {
	margin: 0 0 0.25em;
	padding: 0;
}
h2 {
	margin-top: 1em;
}
p.lastupdated {
	color: grey;
}
p.author {
	font-size: 90%;
}

p.error {
	color: #F00;
	background: #FCC;
	border: 1px solid #F00;
	padding: 0.5em;
}
input.error {
	background: #F88;
}
p.notice {
	color: #090;
	background: #CFC;
	border: 1px solid #090;
	padding: 0.5em;
}

div.loading {
	background: url(loading.gif);
	width: 18px;
	height: 18px;
}

div.icon {
	background: url(icons.png);
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}
div.button {
	margin: 0 3px;
	float: left;
	cursor: pointer;
}
div.icon.add {
	background-position: 0 0;
}
div.icon.remove {
	background-position: -22px 0;
}
div.icon.help {
	background-position: -44px 0;
}
div.button.icon.disabled {
	background: none;
	cursor: inherit;
}

.splash {
	float: right;
	margin: 0 0 0.5em 1em;
}
.splash img {
	border: none;
	display: block;
}
.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

ul.pagination {
	display: block;
	list-style: none;
	text-align: center;
	font-size: 90%;
	margin: 0.5em 0;
	padding: 0;
	border: none;
}
ul.pagination li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #666;
	background: #DDD;
	color: black;
}
ul.pagination li.current {
	font-weight: bold;
	padding: 0.1em;
}
ul.pagination li :link,
ul.pagination li :visited {
	color: black;
	text-decoration: none;
	padding: 0.1em;
}

.tooltip {
	border-bottom: 1px dotted grey;
}

#notificationlist, #notificationlist li {
	margin: 0;
	border: none;
	list-style: none;
}
#notificationlist {
	padding: 0;
}
#notificationlist li {
	padding: 0.5em;
	border: 1px outset grey;
	background: grey;
	color: black;
	text-align: center;
}
#notificationlist li.even {
	border-color: #BBB;
	background: #BBB;
}
#notificationlist li.odd {
	border-color: #DDD;
	background: #DDD;
}
#notificationlist li.new {
	cursor: pointer;
}
#notificationlist li.even.new {
	border-color: #3F3;
	background: #CEC;
}
#notificationlist li.odd.new {
	border-color: #8F8;
	background: #DFD;
}

#notificationlist .container {
	width: 40em;
	margin: 0 auto;
}

#notificationlist .timestamp-duration {
	color: #666;
	font: italic 80% sans-serif;
	float: right;
}

#notificationlist .user.with-avatar {
	display: grid;
	grid-template-columns: 64px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0.5em;
	align-items: center;
}
#notificationlist .sublist.with-avatar {
	display: grid;
	grid-template-columns: 32px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0.5em;
	align-items: center;
}

#notificationlist .user .nickname {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
#notificationlist .user .avatar {
	height: 64px;
	width: 64px;
}
#notificationlist .user .sublist .avatar {
	height: 32px;
	width: 32px;
}

#notificationlist .user .message {
	font-style: italic;
}
#notificationlist .user .message img {
	vertical-align: middle;
}

#milestones {
	width: 1.25em;
	height: 1.25em;
	position: relative;
	margin: 0 0 0.25em auto;
}
#milestoneshow {
	border: 1px solid #333;
	background: #AAA;
	color: #000;
	font-weight: bold;
	text-align: center;
	line-height: 1.25em;
	cursor: pointer;
}
#milestonetable {
	position: absolute;
	right: 0;
	top: 1.25em;
	background: white;
	white-space: nowrap;
	display: none;
}
#milestonetable table {
	margin: 0;
}
#milestonetable .name {
	border-right: none;
}
#milestonetable .months {
	text-align: right;
	font-weight: bold;
	border-left: none;
}
#milestonetable .date {
	font-size: 80%;
	color: #666;
}

.nicetable, .nicetable tr, .nicetable td, .nicetable th {
	border: 1px solid black;
	border-collapse: collapse;
}
.nicetable {
	margin: 0 auto 1em;
}
.nicetable td, .nicetable th {
	padding: 0.1em 0.25em;
}
.nicetable tr.odd {
	background: #EEE;
}
.nicetable tr.even {
	background: #DDD;
}
.nicetable th {
	background: #CCC;
}

.alias {
	border-bottom: 1px dotted black;
}

table.votes tr.current {
	background: #DFD;
}
table.votes th {
	background: #CCC;
}
table.votes td.game {
	text-align: right;
}
table.votes .current td.game {
	font-size: 200%;
}
table.votes td.votes {
	text-align: center;
	border-left: hidden;
}
table.votes div.votes {
	width: 36px;
	height: 24px;
	position: relative;
	margin: 0 auto;
}
table.votes div.vote {
	width: 18px;
	height: 24px;
	background-image: url(thumbs24.png);
	position: absolute;
}
table.votes .current div.votes,
table.votes.clips div.votes {
	width: 72px;
	height: 48px;
}
table.votes .current div.vote,
table.votes.clips div.vote {
	width: 36px;
	height: 48px;
	background-image: url(thumbs48.png);
}
table.votes div.vote.down {
	top: 0;
	left: 0;
}
table.votes div.vote.up {
	top: 0;
	right: 0;
}
table.votes div.vote.down.inactive {
	background-position: top left;
}
table.votes div.vote.up.inactive {
	background-position: top right;
}
table.votes div.vote.down.inactive:hover {
	background-position: center left;
}
table.votes div.vote.up.inactive:hover {
	background-position: center right;
}
table.votes div.vote.down.active {
	background-position: bottom left;
}
table.votes div.vote.up.active {
	background-position: bottom right;
}
table.votes div.vote.inactive {
	cursor: pointer;
}
table.votes div.loading {
	margin: 0 auto;
}

table.commands {
	width: 100%;
}
table.commands thead td {
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}
table.commands td.command {
	width: 15%;
}
table.commands td.response {
	width: 75%;
}
table.commands td.access {
	width: 6%;
}
table.commands td.button {
	width: 4%;
}
table.commands .ui-button {
	width: 100%;
	font-size: 85%;
	padding: 0.25em;
}
table.commands ul, table.commands li {
	list-style: none;
	margin: 0;
	padding: 0;
}
table.commands li.more {
	font-style: italic;
}

div.commands_list {
	margin-bottom: 1em;
}
div.commands_list > div {
	display: grid;
	grid: auto / 32px 1fr;
}
div.commands_list input {
	width: 100%;
}

table.spam {
	width: 100%;
}
table.spam tfoot td {
	border-bottom: hidden;
	border-left: hidden;
	border-right: hidden;
}
table.spam td.action {
	width: auto;
}
table.spam td.re {
	width: 25%;
}
table.spam td.response {
	width: 75%;
}
table.spam input {
	width: 100%;
}

#spamresults {
	font-family: monospace;
}
#spamresults .odd {
	background: #EEE;
}
#spamresults .even {
	background: #DDD;
}
#spamresults .spam.odd {
	background: #E88;
}
#spamresults .spam.even {
	background: #D88;
}

table.spam-find td.message {
	font-family: monospace;
}
table.spam-find tr.spam {
	background: #E88;
}

.label {
	float: right;
	margin-right: 1em;
	padding: 2px;
	border-radius: 2px;
	color: #FFF;
	font-size: small;
	min-width: 5em;
	text-align: center;
}

.label.modonly {
	background-color: #D9534F;
}
.label.subonly {
	background-color: #5BC0DE;
}
.label.publiconly {
	background-color: #AA4;
}
dd {
	margin: 0;
	padding: 0 0 0 2.5em;
}
dt.modonly, dd.modonly {
	background-color: #F3CBCA;
}
dt.subonly, dd.subonly {
	background-color: #CDECF5;
}
dt.modonly, dt.subonly {
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}
dd.modonly, dd.subonly {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.label.timeout {
	background-color: #5cb85c;
}

dt code {
	line-height: 150%;
}

table.historyshow {
	width: 100%;
}
table.historyshow td {
	background: white;
}
table.historyshow tr.from td, table.historyshow td.from {
	background: #F99;
}
table.historyshow tr.to td, table.historyshow td.to {
	background: #9F9;
}

.historyhead {
	text-align: center;
}
.historyhead .prevlink {
	float: left;
	text-align: left;
}
.historyhead .nextlink {
	float: right;
	text-align: right;
}

.quote-disclaimer {
	border: 1px solid #666;
	background: #DDD;
	padding: 0.25em;
	margin: 0 0 0.5em;
}
ol.quotes {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
ol.quotes li {
	display: block;
	list-style: none;
	border-bottom: 1px solid #666;
	margin: 0;
	padding: 0.5em;
}
ol.quotes li.first {
	border-top: 1px solid #666;
}
ol.quotes .num {
	float: right;
	background: #9DE;
	border-radius: 0.75em;
	padding: 0.25em 0.5em;
	font-size: 85%;
	margin: 0 0 0.25em 0.5em;
	line-height: 1em;
}
ol.quotes blockquote {
	margin: 0;
	padding: 0;
	padding-bottom: 0.03em;
}
ol.quotes .attrib {
	margin: 0.5em 0 0 1em;
	width: 100%;
	font-size: 80%;
	font-style: italic;
}
ol.quotes .date {
	font-size: 80%;
}
ol.quotes .game {
	float: right;
}

table.quote-search {
	width: 100%
}

table.quote-search .searchmode {
	width: 10%;
}

table.quote-search .searchbar {
	width: 70%;
}

table.quote-search .submit {
	width: 20%;
}

table.quote-search input,
table.quote-search select {
	width: 100%
}

.stat.disabled {
	color: #999999;
}

.flash {
	padding: 1em;
	border-radius: 0.5em;
}

.flash-message {
	background-color: #d8dff0;
}

.flash-error {
	background-color: #f2dede;
}

.flash-success {
	background-color: #dff0d8;
}

.cheer
{
	font-weight: bold;
}
.cheer.gray
{
	color: #979797;
}
.cheer.purple
{
	color: #9c3ee8;
}
.cheer.green
{
	color: #1db2a5;
}
.cheer.blue
{
	color: #0099fe;
}
.cheer.red
{
	color: #f43021;
}

.clips
{
	width: 100%;
}
.clips tr, .clips td
{
	border-left: none;
	border-right: none;
}
.clips tr.incomplete.even
{
	background: #DCC;
}
.clips tr.incomplete.odd
{
	background: #CBB;
}
.clips tr.complete.even
{
	background: #DDD;
}
.clips tr.complete.odd
{
	background: #CCC;
}
.clips tr.complete td
{
	opacity: 0.5;
}
.clips tr.nextoverlap, .clips tr.nextoverlap td
{
	border-bottom-style: dotted;
}
.clips tr.lastoverlap, .clips tr.lastoverlap td
{
	border-top-style: dotted;
}
.clips .thumbnail
{
	width: 3em;
	text-align: right;
}
.clips .main
{
	padding: 0.25em;
}
.clips .timestamp-duration {
	color: #666;
	font: italic 80% sans-serif;
	float: right;
}
.clips .stat
{
	width: 5em;
	text-align: center;
}
.clips .rating
{
	width: 80px;
	text-align: center;
}
.clips img
{
	height: 3em;
	width: 5.3333em;
	vertical-align: middle;
	margin: 0 0.5em 0 0;
}
.clips .details, .clips .timing
{
	font-size: 80%;
	color: #666;
}
.clips .stat .thumbicon
{
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 48px;
	margin: 0 0.25em 0 0;
	background: url(thumbs48icons.png);
}
.clips .stat.unrated .thumbicon
{
	background-position: top left;
}
.clips .stat.unapproved .thumbicon
{
	background-position: top center;
}
.clips .stat.approved .thumbicon
{
	background-position: top right;
}
.clips .external_channel
{
	color: #666;
	font-size: 80%;
	font-style: italic;
}

.ui-tooltip-content
{
	white-space: pre-wrap;
}

img.account-provider-icon {
	height: 1lh;
	vertical-align: middle;
	margin-left: 0.25ex;
	margin-right: 0.3ex;
}

.super-chat {
	font-weight: bold;
	/* tiers 6 and above have the same color */
	color: #E62117;
}
.super-chat.level-1 {
	color: #1E88E5;
}
.super-chat.level-2 {
	/* supposed to be #00E5FF, lightness lowered from 84.42% to 64.42% */;
	color: #009fb2;
}
.super-chat.level-3 {
	/* supposed to be #1DE9B6, lightness lowered from 83.2% to 60% */
	color: #009773;
}
.super-chat.level-4 {
	color: #F57C00;
}
.super-chat.level-5 {
	color: #E91E63;
}
