body
{
	font: 100% sans-serif;
	background: white;
	color: black;
}

.header
{
	position: relative;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	margin: 0;
	color: black;
	background-color: #CCC;
	/* Thanks to: http://www.css3factory.com/linear-gradients/ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.75, #CCCCCC), color-stop(1, #EEEEEE));
	background-image: -o-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 75%, #EEEEEE 100%);
	background-image: linear-gradient(to bottom, #CCCCCC 75%, #EEEEEE 100%);
}
.header h1
{
	margin: 0;
	padding: 0;
	font: bold 150% sans-serif;
	color: white;
	text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 2px 2px 2px #000;
}
.header img
{
	vertical-align: middle;
	margin: 0 0.5em 0 0;
}
.header .login
{
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}
.infobar, .menu
{
	position: relative;
	border-radius: 0.5em;
	padding: 0.25em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #EEE;
}
.infobar
{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.infobar ul, .menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.infobar li, .menu li
{
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0.5em;
	border-left: 1px dotted grey;
}
.infobar li.first, .menu li.first
{
	border-left: none;
}
.infobar
{
	font-size: 90%;
}
.infobar .advice
{
	float: right;
	margin: 0 0.5em;
	font-size: 80%;
	font-style: italic;
}
.infobar .showmore
{
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: middle;
	margin: 0 0.25em 0 0;
	background: url(expandcollapse.png) no-repeat;
	cursor: pointer;
}
.infobar .showmore.expand
{
	background-position: center left;
}
.infobar .showmore.collapse
{
	background-position: center right;
}
.infobar .currently-playing, .infobar .stat-count
{
	font-weight: bold;
}
.menu :link, .menu :visited
{
	color: #00E;
	text-decoration: none;
}
.body-content
{
	position: relative;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #EEE;
}
.footer
{
	position: relative;
	border-radius: 0.5em;
	padding: 1em;
	margin: 0 0 0.5em 0;
	color: black;
	background-color: #CCC;
	font-size: 80%;
}

h1, h2, h3, h4, p
{
	margin: 0 0 0.25em;
	padding: 0;
}
h2
{
	margin-top: 1em;
}
p.lastupdated
{
	color: grey;
}
p.author
{
	font-size: 90%;
}

p.error
{
	color: red;
}
input.error
{
	background: #F88;
}

div.loading
{
	background: url(loading.gif);
	width: 18px;
	height: 18px;
}

div.button
{
	background: url(icons.png);
	width: 22px;
	height: 22px;
	margin: 0 3px;
	float: left;
	cursor: pointer;
}
div.button.add
{
	background-position: 0 0;
}
div.button.remove
{
	background-position: -22px 0;
}
div.button.disabled
{
	background: none;
	cursor: inherit;
}

.splash
{
	float: right;
	margin: 0 0 0.5em 1em;
}
.splash img
{
	border: none;
	display: block;
}
.clear
{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}

#notificationlist, #notificationlist li
{
	margin: 0;
	border: none;
	list-style: none;
}
#notificationlist
{
	padding: 0;
}
#notificationlist li
{
	padding: 0.5em;
	border: 1px outset grey;
	background: grey;
	color: black;
	text-align: center;
}
#notificationlist li.even
{
	border-color: #BBB;
	background: #BBB;
}
#notificationlist li.odd
{
	border-color: #DDD;
	background: #DDD;
}
#notificationlist li.new
{
	cursor: pointer;
}
#notificationlist li.even.new
{
	border-color: #3F3;
	background: #CEC;
}
#notificationlist li.odd.new
{
	border-color: #8F8;
	background: #DFD;
}
#notificationlist .duration
{
	color: #666;
	font: italic 80% sans-serif;
	float: right;
}
#notificationlist .channel
{
	color: #666;
	font: italic 80% sans-serif;
	float: left;
}
#notificationlist .user a
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
#notificationlist .user img
{
	height: 64px;
	width: 64px;
	vertical-align: middle;
}

table.nicetable, table.nicetable tr, table.nicetable td, table.nicetable th
{
	border: 1px solid black;
	border-collapse: collapse;
}
table.nicetable
{
	margin: 0 auto 1em;
}
table.nicetable td, table.nicetable th
{
	padding: 0.1em 0.25em;
}
table.nicetable tr.odd
{
	background: #EEE;
}
table.nicetable tr.even
{
	background: #DDD;
}
table.nicetable th
{
	background: #CCC;
}

table.statstable td.game
{
	text-align: right;
}
table.statstable thead th, table.statstable tfoot th.total
{
	text-align: center;
}
table.statstable td.stat, table.statstable tfoot th.stat
{
	text-align: right;
}
table.statstable td.game
{
	text-align: left;
}
.alias
{
	border-bottom: 1px dotted black;
}
table.statstable div.rating
{
	margin: 0.25em;
	border: 1px solid black;
	width: 20em;
	height: 1em;
    background: #C00;
}
table.statstable div.rating .good
{
	background: #0C0;
	height: 1em;
	margin: 0;
	padding: 0;
	border: none;
	float: left;
}
.highchart
{
	width: auto;
	height: 25em;
	margin: 0.5em 0;
}

table.votes tr.current
{
	background: #DFD;
}
table.votes th
{
	background: #CCC;
}
table.votes td.game
{
	text-align: right;
}
table.votes .current td.game
{
	font-size: 200%;
}
table.votes td.votes
{
	text-align: center;
	border-left: hidden;
}
table.votes div.votes
{
	width: 36px;
	height: 24px;
	position: relative;
	margin: 0 auto;
}
table.votes div.vote
{
	width: 18px;
	height: 24px;
	background: url(thumbs24.png);
	position: absolute;
}
table.votes .current div.votes
{
	width: 72px;
	height: 48px;
}
table.votes .current div.vote
{
	width: 36px;
	height: 48px;
	background: url(thumbs48.png);
}
table.votes div.vote.down
{
	top: 0;
	left: 0;
}
table.votes div.vote.up
{
	top: 0;
	right: 0;
}
table.votes div.vote.down.inactive
{
	background-position: top left;
}
table.votes div.vote.up.inactive
{
	background-position: top right;
}
table.votes div.vote.down.inactive:hover
{
	background-position: center left;
}
table.votes div.vote.up.inactive:hover
{
	background-position: center right;
}
table.votes div.vote.down.active
{
	background-position: bottom left;
}
table.votes div.vote.up.active
{
	background-position: bottom right;
}
table.votes div.vote.inactive
{
	cursor: pointer;
}
table.votes div.loading
{
	margin: 0 auto;
}

table.commands
{
	width: 100%;
}
table.commands thead td
{
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
}
table.commands td.command
{
	width: 15%;
}
table.commands td.response
{
	width: 75%;
}
table.commands td.access
{
	width: 6%;
}
table.commands td.button
{
	width: 4%;
}
table.commands input, table.commands select, table.commands button
{
	width: 100%;
}
table.commands div.input
{
	height: 22px;
	margin-left: 30px;
}

table.spam
{
	width: 100%;
}
table.spam tfoot td
{
	border-bottom: hidden;
	border-left: hidden;
	border-right: hidden;
}
table.spam td.action
{
	width: auto;
}
table.spam td.re
{
	width: 25%;
}
table.spam td.response
{
	width: 75%;
}
table.spam input
{
	width: 100%;
}

#spamresults
{
	font-family: monospace;
}
#spamresults .odd
{
	background: #EEE;
}
#spamresults .even
{
	background: #DDD;
}
#spamresults .spam.odd
{
	background: #E88;
}
#spamresults .spam.even
{
	background: #D88;
}

.label {
    float: right;
    margin-right: 1em;
    padding: 2px;
    border-radius: 2px;
    color: #FFF;
    font-size: small;
    min-width: 5em;
    text-align: center;
}

.label.modonly {
    background-color: #D9534F;
}
.label.subonly {
    background-color: #5BC0DE;
}
dd {
	margin: 0;
	padding: 0 0 0 2.5em;
}
dt.modonly, dd.modonly {
	background-color: #F3CBCA;
}
dt.subonly, dd.subonly {
	background-color: #CDECF5;
}
dt.modonly, dt.subonly {
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}
dd.modonly, dd.subonly {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.label.timeout {
    background-color: #5cb85c;
}

dt code {
    line-height: 150%;
}

table.historyshow {
	width: 100%;
}
table.historyshow td {
	background: white;
}
table.historyshow tr.from td, table.historyshow td.from {
	background: #F99;
}
table.historyshow tr.to td, table.historyshow td.to {
	background: #9F9;
}

.historyhead {
	text-align: center;
}
.historyhead .prevlink {
	float: left;
	text-align: left;
}
.historyhead .nextlink {
	float: right;
	text-align: right;
}
