body
{
	font: 100% sans-serif;
	background: white;
	color: black;
}

h1, h2, h3, h4, p
{
	margin: 0 0 0.25em;
	padding: 0;
}
h2
{
	margin-top: 1em;
}
p.lastupdated
{
	color: grey;
}
p.author
{
	font-size: 90%;
}

p.error
{
	color: red;
}

#notificationlist, #notificationlist li
{
	margin: 0;
	border: none;
	list-style: none;
}
#notificationlist
{
	padding: 0;
}
#notificationlist li
{
	padding: 0.5em;
	border: 1px outset grey;
	background: grey;
	color: black;
	text-align: center;
}
#notificationlist li:nth-child(even)
{
	border-color: #CCC;
	background: #CCC;
}
#notificationlist li:nth-child(odd)
{
	border-color: #EEE;
	background: #EEE;
}
#notificationlist li.new
{
	cursor: pointer;
}
#notificationlist li.even.new
{
	border-color: #3F3;
	background: #CEC;
}
#notificationlist li.odd.new
{
	border-color: #8F8;
	background: #DFD;
}
#notificationlist .duration
{
	color: #666;
	font: italic 80% sans-serif;
	float: right;
}
#notificationlist .channel
{
	color: #666;
	font: italic 80% sans-serif;
	float: left;
}
#notificationlist .user a
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
#notificationlist .user img
{
	height: 64px;
	width: 64px;
	vertical-align: middle;
}

table#statstable, table#statstable tr, table#statstable td, table#statstable th
{
	border: 1px solid black;
	border-collapse: collapse;
}
table#statstable
{
	margin: 0 auto;
}
table#statstable td, table#statstable th
{
	padding: 0.1em 0.25em;
}
table#statstable tr:nth-child(odd)
{
	background: white;
}
table#statstable tr:nth-child(even)
{
	background: #EEE;
}
table#statstable th
{
	background: #DDD;
}
table#statstable td.game
{
	text-align: right;
}
table#statstable thead th, table#statstable tfoot th.total
{
	text-align: center;
}
table#statstable td.stat, table#statstable tfoot th.stat
{
	text-align: right;
}
table#statstable td.game
{
	text-align: left;
}
table#statstable td.game .alias
{
	border-bottom: 1px dotted black;
}

.highchart
{
	width: auto;
	height: 25em;
	margin: 0.5em 0;
}

dt.modonly
{
	color: red;
}
